* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 11.48vh minmax(auto) 59.54vh;
  grid-template-areas:
    "h h h h h h h h"
    "m m m m m m m m"
    "f f f f f f f f";

  // End
  main {
    grid-area: m;
    padding: 2vh 1vw;

    .holder {
      border: 2px solid gray;
      height: 100vh;
      width: 100%;
      margin-top: 100px;
      padding: 30px;
      display: flex;

      .fourbox {
        //flex: 1;
        background: tomato;
        padding: 10px;

        .grid-container {
          display: grid;
          margin-top: -10px;
          grid-template-columns: auto;
          grid-gap: 5px;
          background-color: white;
          color: black;
          padding: 10px;
        }

        .grid-container > div {
          background-color: white;
          text-align: center;
          padding: 10px 0;
          font-size: 30px;
          border: 2px solid gray;
          height: 18vh;
          width: 10vw;
        }
        .grid-container .green-box {
          background: green;
          color: white;
        }
      }
      .main-content {
        flex: 1;
        background: green;

        padding: 30px;
        background: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid gray;

        display: flex;
        .profile {
          flex: 1;
          background: white;
          //margin-top: 70px;
          padding: 10px;
          .profile-info {
            font-size: 2.5vh;
            text-transform: capitalize;
            color: black;
            .admin {
              height: 150px;
              width: 150px;
            }
          }
        }
        .details {
          flex: 10;
          min-height: 700px;
          background: white;
          margin-left: 10px;
          display: flex;
          flex-direction: column;

          .sec-title {
              font-size: 40px;
          }
          .form-row {
            height: 200px;
            width: 900px;
            display: flex;
            justify-content: space-between;
            
            & > * {
              width: 30%;
            }
            
            .col1 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              label {
                font-size: 30px;
              }
              
              input {
                font-size: 20px;
                padding: 20px;
                outline: none;
                border: none;
                background: lightgreen;
              }
            }
            .col3 {
              display: flex;
              justify-content: center;
              align-items: center;
              
              button {
                font-size: 20px;
                padding: 20px;
                margin-top: 20px;
              }
            }
          }
          .other {
            padding: 10px;
            flex: 2;
            background: white;

            display: flex;
            flex-direction: column;

            .grn-btn {
              background: green;
              height: 30px;
              width: 30px;
              border-radius: 50px;
              color: white;
              border: none;
            }

            .btn-group {
              flex: 1;
              width: 100%;
              background: white;
              margin: 1vh 0;

              .h-text {
                color: white;
              }

              display: flex;

              div {
                flex: 1;
                margin: 0 10px;
                font-size: 30px;
                margin-left: 0px;

                &:nth-child(1) {
                  background: white;
                }
              }
              button {
                flex: 1;
              }
            }
          }
          .switch-container {
            display: flex;
            align-items: center;
            padding: 10px;
            p {
                margin-left: 10px; font-size: 20px;
            }
          }
        }
        .section-title {
          margin-left: 8px;
          margin-top: 1vh;
          font-size: 25px;
        }
        .contact-group {
          margin-top: 1vh;
          display: flex;
          width: 92%;
          padding-left: 8px;
          justify-content: space-between;
          .general-card {
            background: #ededed;
            height: 100px;
            width: 32%;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            //flex: 1;

            // .edit {
            //     transform: translate(240px, -90px);
            // }

            .edit {
              position: absolute;
              top: 5px;
              right: 50px;
              border-radius: 50px;
              background: green;
              color: white;
              height: 30px;
              width: 30px;
              border: none;
            }
            .delete {
              height: 30px;
              width: 30px;
              position: absolute;
              top: 5px;
              right: 10px;
              border-radius: 50px;
              background: red;
              color: white;
              border: none;
            }
          }
          button {
            width: 32%;
            color: green;
            font-size: 20px;
            background: white;
            border: none;
            outline: none;
            box-shadow: 0 2px 2px gray;
            border-radius: 5px;
          }
        }

        .contact-group-2 {
          margin-top: 1vh;
          display: flex;
          width: 92%;
          padding-left: 8px;
          justify-content: space-between;
          .general-card {
            background: #ededed;
            height: 130px;
            width: 32%;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            //flex: 1;

            // .edit {
            //     transform: translate(240px, -90px);
            // }

            .edit {
              position: absolute;
              top: 5px;
              right: 50px;
              border-radius: 50px;
              background: green;
              color: white;
              height: 30px;
              width: 30px;
              border: none;
            }
            .delete {
              height: 30px;
              width: 30px;
              position: absolute;
              top: 5px;
              right: 10px;
              border-radius: 50px;
              background: red;
              color: white;
              border: none;
            }
          }
          button {
            width: 32%;
            color: green;
            font-size: 20px;
            background: white;
            border: none;
            outline: none;
            box-shadow: 0 2px 2px gray;
            border-radius: 5px;
          }
        }

        .image-group {
          margin-top: 1vh;
          display: flex;
          padding-left: 8px;
          width: 92%;
          justify-content: space-between;
          .image-card {
            background: #ededed;
            height: 160px;
            width: 32%;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;

            // .edit {
            //     transform: translate(240px, -90px);
            // }

            img {
              height: 40px;
              width: 100px;
            }

            .edit {
              position: absolute;
              top: 5px;
              right: 50px;
              border-radius: 50px;
              background: green;
              color: white;
              height: 30px;
              width: 30px;
              border: none;
            }
            .delete {
              position: absolute;
              top: 5px;
              right: 10px;
              width: 30px;
              height: 30px;
              position: absolute;
              top: 5px;

              border-radius: 50px;
              background: red;
              color: white;
              border: none;
            }
          }
          button {
            width: 32%;
            color: green;
            font-size: 20px;
            background: white;
            border: none;
            outline: none;
            box-shadow: 0 2px 2px gray;
            border-radius: 5px;
          }
        }
        .details {
          .delete-btn-account {
            height: 5vh;
            width: 20%;
            background: gray;
            border-radius: 10px;
            color: white;
            font-size: 20px;
            outline: none;
            cursor: pointer;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1026px) and (max-width: 1366px) {
  main {
    grid-area: m;
    padding: 2vh 1vw;

    .holder {
      border: 2px solid gray;
      height: 100vh;
      width: 100%;
      margin-top: 100px;
      padding: 30px;
      display: flex;

      .fourbox {
        flex: 1;
        background: white;
        padding: 10px;

        .grid-container {
          display: grid;
          margin-top: -10px;
          grid-template-columns: auto;
          grid-gap: 5px;
          background-color: white;
          color: black;
          padding: 10px;
        }

        .grid-container > div {
          background-color: white;
          text-align: center;
          padding: 10px 0;
          font-size: 16px !important;
          border: 2px solid gray;
          height: 18vh;
          width: 10vw;
        }
        .grid-container .green-box {
          background: green;
          color: white;
        }
      }
      .my-order {
        border: 1px solid gray;
        flex: 2.5;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        justify-content: space-around;
        overflow: auto;

        .a {
          display: flex;
          .pa {
            flex: 2.5;
            font-size: 21px;
            padding: 20px;
          }
          .img {
            flex: 1;
            padding: 10px;
          }
        }

        .my-card {
          flex: 1;
          background: white;
          height: 10% !important;
          width: 60%;
          position: relative;
          padding: 10px 20px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          border: none;
          box-shadow: 0 2px 2px gray;

          img {
            margin-left: 30px;
          }

          .para {
            top: 20px;
            width: 50%;

            height: 35px;
            right: 90px;
            font-size: 20px;
            position: absolute;
            border: 1px solid gray;
            border-radius: 5px;
            border: none;
            padding: 2px;

            align-items: center;
            text-align: center;
          }

          .ex {
            top: 70px;
            width: 50%;

            height: 35px;
            right: 20px;
            font-size: 30px;
            position: absolute;
            border: 1px solid gray;
            border-radius: 5px;
            background: white;
            border: none;
            padding: 2px;

            align-items: center;
            text-align: center;
          }
        }
      }
      .order-detail {
        .row-item {
          display: flex;
          flex-direction: row;
          padding: 10px;
          font-size: 25px;
          margin-right: 10px;
          margin-left: -30px;
          border: 1px solid gray;
          //background: red !important;
          border-radius: 10px;
          border: none;
          height: 90px;
          width: 1070px !important;
          justify-content: center;
          margin-top: 10px;

          img {
            height: 80px;
            width: 80px;
          }
          .item {
            flex: 5;
            display: flex;
            padding: 10px;
            margin-left: 5px;
            margin-top: 10px;
          }
          .item2 {
            flex: 1.7;
            margin-top: 15px;
          }
          .item3 {
            flex: 3.2;
            margin-top: 15px;
          }
        }
        .row-item2 {
          display: flex;
          flex-direction: row;
          padding: 0px;
          font-size: 25px;
          margin-left: 5px;
          position: relative;
          border: 1px solid gray;
          background: white;
          margin-top: 25px;
          border: none;

          .ex {
            background: red;
            height: 25px;
            width: 25px;
            border-radius: 50px;
            color: white;
            position: absolute;
            transform: translateX(-340px) !important;
            transform: translateY(-30px);
            border: none;
            outline: none;
            cursor: pointer;
            margin-left: 170px;
          }

          img {
            height: 80px;
            width: 80px;
          }
          .item {
            flex: 6;
            display: flex;
            padding: 10px;
            padding: 0px;
          }
          .item2 {
            flex: 3;

            button {
              background: #ffffff;
              height: 40px;
              width: 30px;
              color: #707070;
              box-shadow: 0 1px 2px gray;
              border-radius: 5px;
              border: none;
              font-size: 20px;
            }
            .cart {
              height: 50px;
              width: 200px;
              background: #00a50d;
              color: white;
              border-radius: 10px;
              outline: none;
              cursor: pointer;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

// iPad Pro --> laptop
// @media (min-width: 1026px) and (max-width: 1366px)
@media (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11.48vh 81.48vh auto 59.54vh;
    grid-template-areas:
      "h h h h h h h h"
      "m m m m m m m m"
      "f f f f f f f f";

    main {
      grid-area: m;
      padding: 1vh 1vw;

      .holder {
        border: 2px solid gray;
        height: 100vh;
        width: 100%;
        margin-top: -10px !important;
        padding: 10px;
        display: flex;

        .fourbox {
          flex: 1;
          background: white;
          padding: 10px;

          .grid-container {
            display: grid;
            margin-top: -10px;
            grid-template-columns: auto;
            grid-gap: 5px;
            background-color: white;
            color: black;
            padding: 10px;
          }

          .grid-container > div {
            background-color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 20px;
            border: 2px solid gray;
            height: 8.5vh;
            width: 12vw;
          }
          .grid-container .green-box {
            background: green;
            color: white;
          }
        }
        .my-order {
          border: 1px solid gray;
          flex: 2.5;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          //justify-content: center;
          justify-content: space-around;
          overflow: auto;

          .a {
            display: flex;
            .pa {
              flex: 2.5;
              font-size: 21px;
              padding: 20px;
            }
            .img {
              flex: 1;
              padding: 10px;
            }
          }

          .my-card {
            flex: 1;
            background: white;
            height: 10% !important;
            width: 60%;
            position: relative;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: none;
            box-shadow: 0 2px 2px gray;

            img {
              margin-left: 30px;
            }

            .para {
              top: 20px;
              width: 50%;

              height: 35px;
              right: 90px;
              font-size: 20px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }

            .ex {
              top: 70px;
              width: 50%;

              height: 35px;
              right: 20px;
              font-size: 30px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: white;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }
          }
        }
        .order-detail {
          .row-item {
            display: flex;
            flex-direction: row;
            padding: 10px;
            font-size: 20px;
            margin-right: 10px;
            margin-left: -30px;
            border: 1px solid gray;
            background: lightgray;
            border-radius: 10px;
            border: none;
            height: 70px;
            width: 800px;
            justify-content: center;
            margin-top: 10px;

            img {
              height: 40px;
              width: 40px;
            }
            .item {
              flex: 6;
              display: flex;
              padding: 10px;
              margin-left: 0px;
              margin-top: 10px;
              position: relative;
            }
            .item2 {
              flex: 5.7;
              margin-top: 15px;
            }
            .item3 {
              flex: 5.2;
              margin-top: 15px;
            }
          }
          .row-item2 {
            display: flex;
            flex-direction: row;
            padding: 0px;
            font-size: 18px;
            margin-left: 5px;
            border: 1px solid gray;
            background: white;
            margin-top: 25px;
            border: none;

            .ex {
              background: red;
              height: 25px;
              width: 25px;
              border-radius: 50px;
              color: white;
              position: absolute;
              transform: translateX(-160px) !important;
              //transform: translateY(-30px) !important;
              border: none;
              margin-top: -20px;
              outline: none;
              cursor: pointer;
            }

            img {
              height: 80px;
              width: 80px;
            }
            .item {
              //flex: 6;
              //display: flex;
              padding: 10px;
              padding: 0px;
            }
            .item2 {
              flex: 3;

              button {
                background: #ffffff;
                height: 40px;
                width: 30px;
                color: #707070;
                box-shadow: 0 1px 2px gray;
                border-radius: 5px;
                border: none;
                font-size: 10px;
              }
              .cart {
                height: 40px;
                width: 100px;
                background: #00a50d;
                color: white;
                border-radius: 10px;
                outline: none;
                cursor: pointer;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
// @media (min-width: 1026px) and (max-width: 1366px)
@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11.48vh minmax(auto) 59.54vh;
    grid-template-areas:
      "h h h h h h h h"
      "m m m m m m m m"
      "f f f f f f f f";

    main {
      grid-area: m;
      padding: 3vh 1.51vw;
      min-height: 300vh;

      .holder {
        border: 2px solid gray;
        min-height: 300vh;
        width: 100%;
        margin-top: 70px;
        padding: 5px;
        display: flex;
        flex-direction: column;

        .fourbox {
          //flex: 1;
          width: 100%;
          background: white;
          padding: 10px;

          .grid-container {
            display: flex;
            //flex-direction: column;
            margin-top: 0px;
            grid-template-columns: auto;
            grid-gap: 5px;
            background-color: white;
            color: black;
            padding: 0px;
          }

          .grid-container > div {
            flex: 1;
            background-color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 15px;
            border: 2px solid gray;
            height: 15vh;
            width: 25%;
          }
          .grid-container .green-box {
            background: green;
            color: white;
          }
        }
        .main-content {
          min-height: 280vh;
          flex-direction: column;

          .profile {
            width: 100%;
            .profile-info {
              display: flex;
              width: 100%;
              background: white;
              flex-direction: column;

              justify-content: center;
              align-items: center;
            }
          }
          .details {
            .sec-title {
                font-size: 30px;
                text-align: center;
            }
            .form-row {
              height: 500px;
              width: 100%;
              padding: 30px 0;
              display: flex;
              flex-direction: column;
              
              & > * {
                width: 100%;
              }
              
              .col1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                label {
                  font-size: 30px;
                }
                
                input {
                  font-size: 20px;
                  padding: 20px;
                  outline: none;
                  border: none;
                  background: lightgreen;
                }
              }
              .col3 {
                display: flex;
                justify-content: center;
                align-items: center;
                
                button {
                  font-size: 20px;
                  padding: 20px;
                  margin-top: 20px;
                  width: 100%;
                }
              }
            }
            .contact-group {
              flex-direction: column;
              .general-card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 2vh;
              }
              .action-btn {
                width: 100%;
                //height: 3vh !important;
                padding: 30px 0;
                margin-bottom: 2vh;
              }
            }
            .contact-group-2 {
              flex-direction: column;
              .general-card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 2vh;
              }
              .action-btn {
                width: 100%;
                //height: 3vh !important;
                padding: 30px 0;
                margin-bottom: 2vh;
              }
            }
            .image-group {
              flex-direction: column;
              .image-card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 2vh;
              }
              .action-btn {
                width: 100%;
                //height: 3vh !important;
                padding: 30px 0;
                margin-bottom: 2vh;
              }
            }
            .switch-container {
                display: flex;
                align-items: center;
                padding: 10px;

                .switch-text {
                    margin-left: 20px; font-size: 15px;
                }
              }
              .delete-btn-account {
              
                width: 100%;
                
              }
          }
        }
      }
    }
  }
}
