* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 2vh 1vw;
}

body main .holder {
  border: 2px solid gray;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .fourbox {
  background: tomato;
  padding: 10px;
}

body main .holder .fourbox .grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: -10px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 5px;
  background-color: white;
  color: black;
  padding: 10px;
}

body main .holder .fourbox .grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border: 2px solid gray;
  height: 18vh;
  width: 10vw;
}

body main .holder .fourbox .grid-container .green-box {
  background: green;
  color: white;
}

body main .holder .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: green;
  padding: 30px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .main-content .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 10px;
}

body main .holder .main-content .profile .profile-info {
  font-size: 2.5vh;
  text-transform: capitalize;
  color: black;
}

body main .holder .main-content .profile .profile-info .admin {
  height: 150px;
  width: 150px;
}

body main .holder .main-content .details {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  min-height: 700px;
  background: white;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .holder .main-content .details .sec-title {
  font-size: 40px;
}

body main .holder .main-content .details .form-row {
  height: 200px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .details .form-row > * {
  width: 30%;
}

body main .holder .main-content .details .form-row .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .holder .main-content .details .form-row .col1 label {
  font-size: 30px;
}

body main .holder .main-content .details .form-row .col1 input {
  font-size: 20px;
  padding: 20px;
  outline: none;
  border: none;
  background: lightgreen;
}

body main .holder .main-content .details .form-row .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .holder .main-content .details .form-row .col3 button {
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
}

body main .holder .main-content .details .other {
  padding: 10px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .holder .main-content .details .other .grn-btn {
  background: green;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  color: white;
  border: none;
}

body main .holder .main-content .details .other .btn-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background: white;
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .main-content .details .other .btn-group .h-text {
  color: white;
}

body main .holder .main-content .details .other .btn-group div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  font-size: 30px;
  margin-left: 0px;
}

body main .holder .main-content .details .other .btn-group div:nth-child(1) {
  background: white;
}

body main .holder .main-content .details .other .btn-group button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body main .holder .main-content .details .switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

body main .holder .main-content .details .switch-container p {
  margin-left: 10px;
  font-size: 20px;
}

body main .holder .main-content .section-title {
  margin-left: 8px;
  margin-top: 1vh;
  font-size: 25px;
}

body main .holder .main-content .contact-group {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-left: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .contact-group .general-card {
  background: #ededed;
  height: 100px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .holder .main-content .contact-group .general-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .holder .main-content .contact-group .general-card .delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .holder .main-content .contact-group button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .holder .main-content .contact-group-2 {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-left: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .contact-group-2 .general-card {
  background: #ededed;
  height: 130px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .holder .main-content .contact-group-2 .general-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .holder .main-content .contact-group-2 .general-card .delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .holder .main-content .contact-group-2 button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .holder .main-content .image-group {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .image-group .image-card {
  background: #ededed;
  height: 160px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .holder .main-content .image-group .image-card img {
  height: 40px;
  width: 100px;
}

body main .holder .main-content .image-group .image-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .holder .main-content .image-group .image-card .delete {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .holder .main-content .image-group button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .holder .main-content .details .delete-btn-account {
  height: 5vh;
  width: 20%;
  background: gray;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (min-width: 1026px) and (max-width: 1366px) {
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 2vh 1vw;
  }
  main .holder {
    border: 2px solid gray;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: -10px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
  }
  main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px !important;
    border: 2px solid gray;
    height: 18vh;
    width: 10vw;
  }
  main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  main .holder .my-order {
    border: 1px solid gray;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  main .holder .my-order .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .holder .my-order .a .pa {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    font-size: 21px;
    padding: 20px;
  }
  main .holder .my-order .a .img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
  }
  main .holder .my-order .my-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    height: 10% !important;
    width: 60%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
  }
  main .holder .my-order .my-card img {
    margin-left: 30px;
  }
  main .holder .my-order .my-card .para {
    top: 20px;
    width: 50%;
    height: 35px;
    right: 90px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .holder .my-order .my-card .ex {
    top: 70px;
    width: 50%;
    height: 35px;
    right: 20px;
    font-size: 30px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .holder .order-detail .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-size: 25px;
    margin-right: 10px;
    margin-left: -30px;
    border: 1px solid gray;
    border-radius: 10px;
    border: none;
    height: 90px;
    width: 1070px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  main .holder .order-detail .row-item img {
    height: 80px;
    width: 80px;
  }
  main .holder .order-detail .row-item .item {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
  }
  main .holder .order-detail .row-item .item2 {
    -webkit-box-flex: 1.7;
        -ms-flex: 1.7;
            flex: 1.7;
    margin-top: 15px;
  }
  main .holder .order-detail .row-item .item3 {
    -webkit-box-flex: 3.2;
        -ms-flex: 3.2;
            flex: 3.2;
    margin-top: 15px;
  }
  main .holder .order-detail .row-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    font-size: 25px;
    margin-left: 5px;
    position: relative;
    border: 1px solid gray;
    background: white;
    margin-top: 25px;
    border: none;
  }
  main .holder .order-detail .row-item2 .ex {
    background: red;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    color: white;
    position: absolute;
    -webkit-transform: translateX(-340px) !important;
            transform: translateX(-340px) !important;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 170px;
  }
  main .holder .order-detail .row-item2 img {
    height: 80px;
    width: 80px;
  }
  main .holder .order-detail .row-item2 .item {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  main .holder .order-detail .row-item2 .item2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  main .holder .order-detail .row-item2 .item2 button {
    background: #ffffff;
    height: 40px;
    width: 30px;
    color: #707070;
    -webkit-box-shadow: 0 1px 2px gray;
            box-shadow: 0 1px 2px gray;
    border-radius: 5px;
    border: none;
    font-size: 20px;
  }
  main .holder .order-detail .row-item2 .item2 .cart {
    height: 50px;
    width: 200px;
    background: #00a50d;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh 81.48vh auto 59.54vh;
        grid-template-rows: 11.48vh 81.48vh auto 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 1vh 1vw;
  }
  body main .holder {
    border: 2px solid gray;
    height: 100vh;
    width: 100%;
    margin-top: -10px !important;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: -10px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 2px solid gray;
    height: 8.5vh;
    width: 12vw;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .my-order {
    border: 1px solid gray;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  body main .holder .my-order .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .my-order .a .pa {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    font-size: 21px;
    padding: 20px;
  }
  body main .holder .my-order .a .img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
  }
  body main .holder .my-order .my-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    height: 10% !important;
    width: 60%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
  }
  body main .holder .my-order .my-card img {
    margin-left: 30px;
  }
  body main .holder .my-order .my-card .para {
    top: 20px;
    width: 50%;
    height: 35px;
    right: 90px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 70px;
    width: 50%;
    height: 35px;
    right: 20px;
    font-size: 30px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    margin-left: -30px;
    border: 1px solid gray;
    background: lightgray;
    border-radius: 10px;
    border: none;
    height: 70px;
    width: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  body main .holder .order-detail .row-item img {
    height: 40px;
    width: 40px;
  }
  body main .holder .order-detail .row-item .item {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-left: 0px;
    margin-top: 10px;
    position: relative;
  }
  body main .holder .order-detail .row-item .item2 {
    -webkit-box-flex: 5.7;
        -ms-flex: 5.7;
            flex: 5.7;
    margin-top: 15px;
  }
  body main .holder .order-detail .row-item .item3 {
    -webkit-box-flex: 5.2;
        -ms-flex: 5.2;
            flex: 5.2;
    margin-top: 15px;
  }
  body main .holder .order-detail .row-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    font-size: 18px;
    margin-left: 5px;
    border: 1px solid gray;
    background: white;
    margin-top: 25px;
    border: none;
  }
  body main .holder .order-detail .row-item2 .ex {
    background: red;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    color: white;
    position: absolute;
    -webkit-transform: translateX(-160px) !important;
            transform: translateX(-160px) !important;
    border: none;
    margin-top: -20px;
    outline: none;
    cursor: pointer;
  }
  body main .holder .order-detail .row-item2 img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .row-item2 .item {
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .row-item2 .item2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  body main .holder .order-detail .row-item2 .item2 button {
    background: #ffffff;
    height: 40px;
    width: 30px;
    color: #707070;
    -webkit-box-shadow: 0 1px 2px gray;
            box-shadow: 0 1px 2px gray;
    border-radius: 5px;
    border: none;
    font-size: 10px;
  }
  body main .holder .order-detail .row-item2 .item2 .cart {
    height: 40px;
    width: 100px;
    background: #00a50d;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
    min-height: 300vh;
  }
  body main .holder {
    border: 2px solid gray;
    min-height: 300vh;
    width: 100%;
    margin-top: 70px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .fourbox {
    width: 100%;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 0px;
  }
  body main .holder .fourbox .grid-container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    height: 15vh;
    width: 25%;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .main-content {
    min-height: 280vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .main-content .profile {
    width: 100%;
  }
  body main .holder .main-content .profile .profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .main-content .details .sec-title {
    font-size: 30px;
    text-align: center;
  }
  body main .holder .main-content .details .form-row {
    height: 500px;
    width: 100%;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .main-content .details .form-row > * {
    width: 100%;
  }
  body main .holder .main-content .details .form-row .col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .holder .main-content .details .form-row .col1 label {
    font-size: 30px;
  }
  body main .holder .main-content .details .form-row .col1 input {
    font-size: 20px;
    padding: 20px;
    outline: none;
    border: none;
    background: lightgreen;
  }
  body main .holder .main-content .details .form-row .col3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .main-content .details .form-row .col3 button {
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
  body main .holder .main-content .details .contact-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .main-content .details .contact-group .general-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2vh;
  }
  body main .holder .main-content .details .contact-group .action-btn {
    width: 100%;
    padding: 30px 0;
    margin-bottom: 2vh;
  }
  body main .holder .main-content .details .contact-group-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .main-content .details .contact-group-2 .general-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2vh;
  }
  body main .holder .main-content .details .contact-group-2 .action-btn {
    width: 100%;
    padding: 30px 0;
    margin-bottom: 2vh;
  }
  body main .holder .main-content .details .image-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .main-content .details .image-group .image-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2vh;
  }
  body main .holder .main-content .details .image-group .action-btn {
    width: 100%;
    padding: 30px 0;
    margin-bottom: 2vh;
  }
  body main .holder .main-content .details .switch-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  body main .holder .main-content .details .switch-container .switch-text {
    margin-left: 20px;
    font-size: 15px;
  }
  body main .holder .main-content .details .delete-btn-account {
    width: 100%;
  }
}
/*# sourceMappingURL=account2.css.map */