* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 3vh 6.51vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .sticker {
  width: 9.21vw;
  height: 15.92vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
  background: linear-gradient(rgba(0, 128, 0, 0.8));
  border-radius: 30px;
  margin-left: 90.5%;
  position: fixed;
  right: 0;
  top: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sticker div {
  color: white;
  font-size: 15px;
}

body main .sticker button {
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 1vh;
}

body main .sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  border-top-left-radius: 10px;
}

body main .sidebar .grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 90px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 5px;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
}

body main .sidebar .grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 2px solid gray;
  height: 20vh;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sidebar .grid-container > div:nth-child(1) {
  border-top-left-radius: 20px;
}

body main .sidebar .grid-container > div:nth-child(4) {
  border-bottom-left-radius: 20px;
}

body main .sidebar .grid-container .green-box {
  background: green;
  color: white;
}

body main .main-content {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  padding: 30px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .main-content .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  margin-top: 70px;
  padding: 10px;
}

body main .main-content .profile .profile-info {
  font-size: 2.5vh;
  text-transform: capitalize;
  color: black;
}

body main .main-content .profile .profile-info .admin {
  height: 150px;
  width: 150px;
}

body main .main-content .details {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  min-height: 700px;
  background: white;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main-content .details .name {
  background: white;
  margin-top: 70px;
}

body main .main-content .details .name .hone {
  font-size: 50px;
  margin-left: 10px;
}

body main .main-content .details .name .grid-container-1 {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 0px;
  background-color: white;
  padding: 10px;
  left: 0;
}

body main .main-content .details .name .grid-container-1 .btn {
  height: 6vh;
  width: 20vw;
  border: 2px solid blue;
  padding: 10px;
  margin-left: 0vh;
  background: #ededed;
  border-radius: 10px;
  border: none;
  font-size: 22px;
}

body main .main-content .details .name .grid-container-1 .save {
  height: 6vh;
  width: 8vw;
  background: green;
  border: 2px solid gray;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 30px;
}

body main .main-content .details .name .grid-container-1 > div {
  background-color: white;
  padding: 20px 0;
  font-size: 30px;
}

body main .main-content .details .other {
  padding: 10px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main-content .details .other .grn-btn {
  background: green;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  color: white;
  border: none;
}

body main .main-content .details .other .btn-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background: white;
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .main-content .details .other .btn-group .h-text {
  color: white;
}

body main .main-content .details .other .btn-group div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  font-size: 30px;
  margin-left: 0px;
}

body main .main-content .details .other .btn-group div:nth-child(1) {
  background: white;
}

body main .main-content .details .other .btn-group button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body main .main-content .section-title {
  margin-left: 8px;
  margin-top: 1vh;
  font-size: 25px;
}

body main .main-content .contact-group {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-left: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-content .contact-group .general-card {
  background: #ededed;
  height: 100px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .main-content .contact-group .general-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .main-content .contact-group .general-card .delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .main-content .contact-group button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .main-content .contact-group-2 {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-left: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-content .contact-group-2 .general-card {
  background: #ededed;
  height: 130px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .main-content .contact-group-2 .general-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .main-content .contact-group-2 .general-card .delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .main-content .contact-group-2 button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .main-content .image-group {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-content .image-group .image-card {
  background: #ededed;
  height: 160px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .main-content .image-group .image-card img {
  height: 40px;
  width: 100px;
}

body main .main-content .image-group .image-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .main-content .image-group .image-card .delete {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .main-content .image-group button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .main-content .details .delete-btn-account {
  height: 5vh;
  width: 20%;
  background: gray;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

@media (min-width: 1026px) and (max-width: 1366px) {
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 6.51vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .sticker {
    width: 9.21vw;
    height: 15.92vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    border-radius: 30px;
    margin-left: 90.5%;
    position: fixed;
    right: 0;
    top: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .sticker div {
    color: white;
    font-size: 15px;
  }
  main .sticker button {
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 1vh;
  }
  main .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    border-top-left-radius: 10px;
  }
  main .sidebar .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 90px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
  }
  main .sidebar .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 2px solid gray;
    height: 10vh;
    width: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  main .sidebar .grid-container > div:nth-child(1) {
    border-top-left-radius: 20px;
  }
  main .sidebar .grid-container > div:nth-child(4) {
    border-bottom-left-radius: 20px;
  }
  main .sidebar .grid-container .green-box {
    background: green;
    color: white;
  }
  main .main-content {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    padding: 30px;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .main-content .profile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    margin-top: 70px;
    padding: 10px;
  }
  main .main-content .profile .profile-info {
    font-size: 25px;
    text-transform: capitalize;
    color: black;
  }
  main .main-content .profile .profile-info .admin {
    height: 70px;
    width: 70px;
  }
  main .main-content .details {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    min-height: 700px;
    background: white;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-content .details .delete-btn-account {
    height: 7vh !important;
    width: 30% !important;
    background: gray;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
  }
  main .main-content .details .name {
    background: white;
    margin-top: 70px;
  }
  main .main-content .details .name .hone {
    font-size: 25px;
    margin-left: 10px;
  }
  main .main-content .details .name .grid-container-1 {
    display: -ms-grid;
    display: grid;
    margin-top: 30px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 0px;
    background-color: white;
    padding: 10px;
    left: 0;
  }
  main .main-content .details .name .grid-container-1 .btn {
    height: 3vh;
    width: 15vw;
    border: 2px solid blue;
    padding: 10px;
    margin-left: 0vh;
    background: #ededed;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }
  main .main-content .details .name .grid-container-1 .save {
    height: 4vh;
    width: 8vw;
    background: green;
    border: 2px solid gray;
    color: white;
    font-size: 16px !important;
    border-radius: 10px;
    margin-top: 10px;
  }
  main .main-content .details .name .grid-container-1 > div {
    background-color: white;
    padding: 20px 0;
    font-size: 30px;
  }
  main .main-content .details .other {
    padding: 10px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-content .section-title {
    margin-left: 8px;
    margin-top: 0.5vh;
    font-size: 18px;
  }
  main .main-content .contact-group {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    padding-left: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-content .contact-group .general-card {
    background: #ededed;
    height: 120px !important;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  main .main-content .contact-group .general-card p {
    margin-top: 35px;
  }
  main .main-content .contact-group .general-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  main .main-content .contact-group .general-card .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    font-size: 10px;
  }
  main .main-content .contact-group button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  main .main-content .contact-group-2 {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    padding-left: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-content .contact-group-2 .general-card {
    background: #ededed;
    height: 130px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  main .main-content .contact-group-2 .general-card p {
    margin-top: 40px;
  }
  main .main-content .contact-group-2 .general-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  main .main-content .contact-group-2 .general-card .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    font-size: 10px;
  }
  main .main-content .contact-group-2 button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  main .main-content .image-group {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    width: 92%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main-content .image-group .image-card {
    background: #ededed;
    height: 160px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
  }
  main .main-content .image-group .image-card img {
    height: 40px;
    width: 70px;
  }
  main .main-content .image-group .image-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  main .main-content .image-group .image-card .delete {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    font-size: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
  }
  main .main-content .image-group button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  main .main-content .details .delete-btn-account {
    font-size: 15px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 6.51vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .sticker {
    width: 9.21vw;
    height: 15.92vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    border-radius: 30px;
    margin-left: 90.5%;
    position: fixed;
    right: 0;
    top: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .sticker div {
    color: white;
    font-size: 15px;
  }
  body main .sticker button {
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 1vh;
  }
  body main .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    border-top-left-radius: 10px;
  }
  body main .sidebar .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 90px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
  }
  body main .sidebar .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 2px solid gray;
    height: 10vh;
    width: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  body main .sidebar .grid-container > div:nth-child(1) {
    border-top-left-radius: 20px;
  }
  body main .sidebar .grid-container > div:nth-child(4) {
    border-bottom-left-radius: 20px;
  }
  body main .sidebar .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .main-content {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    padding: 30px;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .main-content .profile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    margin-top: 70px;
    padding: 10px;
  }
  body main .main-content .profile .profile-info {
    font-size: 25px;
    text-transform: capitalize;
    color: black;
  }
  body main .main-content .profile .profile-info .admin {
    height: 70px;
    width: 70px;
  }
  body main .main-content .details {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    min-height: 700px;
    background: white;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-content .details .delete-btn-account {
    height: 7vh !important;
    width: 50% !important;
    background: gray;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
  }
  body main .main-content .details .name {
    background: white;
    margin-top: 70px;
  }
  body main .main-content .details .name .hone {
    font-size: 25px;
    margin-left: 10px;
  }
  body main .main-content .details .name .grid-container-1 {
    display: -ms-grid;
    display: grid;
    margin-top: 30px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 0px;
    background-color: white;
    padding: 10px;
    left: 0;
  }
  body main .main-content .details .name .grid-container-1 .btn {
    height: 3vh;
    width: 15vw;
    border: 2px solid blue;
    padding: 10px;
    margin-left: 0vh;
    background: #ededed;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }
  body main .main-content .details .name .grid-container-1 .save {
    height: 3vh;
    width: 8vw;
    background: green;
    border: 2px solid gray;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 35px;
  }
  body main .main-content .details .name .grid-container-1 > div {
    background-color: white;
    padding: 20px 0;
    font-size: 30px;
  }
  body main .main-content .details .other {
    padding: 10px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-content .section-title {
    margin-left: 8px;
    margin-top: 0.5vh;
    font-size: 18px;
  }
  body main .main-content .contact-group {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    padding-left: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-content .contact-group .general-card {
    background: #ededed;
    height: 100px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
  }
  body main .main-content .contact-group .general-card p {
    margin-top: 25px;
  }
  body main .main-content .contact-group .general-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group .general-card .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  body main .main-content .contact-group-2 {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    padding-left: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-content .contact-group-2 .general-card {
    background: #ededed;
    height: 130px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
  }
  body main .main-content .contact-group-2 .general-card p {
    margin-top: 40px;
  }
  body main .main-content .contact-group-2 .general-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group-2 .general-card .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group-2 button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  body main .main-content .image-group {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    width: 92%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-content .image-group .image-card {
    background: #ededed;
    height: 160px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
  }
  body main .main-content .image-group .image-card img {
    margin-top: 20px;
    height: 30px;
    width: 60px;
  }
  body main .main-content .image-group .image-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  body main .main-content .image-group .image-card .delete {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    font-size: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
  }
  body main .main-content .image-group button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  body main .main-content div details .delete-btn-account {
    font-size: 15px;
  }
}

@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 6.51vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .sticker {
    width: 9.21vw;
    height: 15.92vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    border-radius: 30px;
    margin-left: 90.5%;
    position: fixed;
    right: 0;
    top: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .sticker div {
    color: white;
    font-size: 15px;
  }
  body main .sticker button {
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 1vh;
  }
  body main .sidebar {
    background: white;
    border-top-left-radius: 10px;
  }
  body main .sidebar .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 90px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
  }
  body main .sidebar .grid-container > div {
    background-color: red;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 2px solid gray;
    height: 10vh;
    width: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  body main .sidebar .grid-container > div:nth-child(1) {
    border-top-left-radius: 20px;
  }
  body main .sidebar .grid-container > div:nth-child(4) {
    border-bottom-left-radius: 20px;
  }
  body main .sidebar .grid-container .green-box {
    background: red;
    color: white;
  }
  body main .main-content {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    padding: 30px;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .main-content .profile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    margin-top: 70px;
    padding: 10px;
  }
  body main .main-content .profile .profile-info {
    font-size: 25px;
    text-transform: capitalize;
    color: black;
  }
  body main .main-content .profile .profile-info .admin {
    height: 70px;
    width: 70px;
  }
  body main .main-content .details {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    min-height: 700px;
    background: white;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-content .details .name {
    background: white;
    margin-top: 70px;
  }
  body main .main-content .details .name .hone {
    font-size: 25px;
    margin-left: 10px;
  }
  body main .main-content .details .name .grid-container-1 {
    display: -ms-grid;
    display: grid;
    margin-top: 30px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 0px;
    background-color: white;
    padding: 10px;
    left: 0;
  }
  body main .main-content .details .name .grid-container-1 .btn {
    height: 3vh;
    width: 15vw;
    border: 2px solid blue;
    padding: 10px;
    margin-left: 0vh;
    background: #ededed;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }
  body main .main-content .details .name .grid-container-1 .save {
    height: 4vh;
    width: 8vw;
    background: green;
    border: 2px solid gray;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 10px;
  }
  body main .main-content .details .name .grid-container-1 > div {
    background-color: white;
    padding: 20px 0;
    font-size: 30px;
  }
  body main .main-content .details .other {
    padding: 10px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-content .section-title {
    margin-left: 8px;
    margin-top: 0.5vh;
    font-size: 18px;
  }
  body main .main-content .contact-group {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    padding-left: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-content .contact-group .general-card {
    background: #ededed;
    height: 100px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  body main .main-content .contact-group .general-card p {
    margin-top: 25px;
  }
  body main .main-content .contact-group .general-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group .general-card .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  body main .main-content .contact-group-2 {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    padding-left: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-content .contact-group-2 .general-card {
    background: #ededed;
    height: 130px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  body main .main-content .contact-group-2 .general-card p {
    margin-top: 40px;
  }
  body main .main-content .contact-group-2 .general-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group-2 .general-card .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    font-size: 10px;
  }
  body main .main-content .contact-group-2 button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  body main .main-content .image-group {
    margin-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    width: 92%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-content .image-group .image-card {
    background: #ededed;
    height: 160px;
    width: 32%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
  }
  body main .main-content .image-group .image-card img {
    height: 40px;
    width: 70px;
  }
  body main .main-content .image-group .image-card .edit {
    position: absolute;
    top: 5px;
    right: 35px;
    border-radius: 50px;
    background: green;
    color: white;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
  }
  body main .main-content .image-group .image-card .delete {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    font-size: 10px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
  }
  body main .main-content .image-group button {
    width: 32%;
    color: green;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
    border-radius: 5px;
  }
  body main .main-content div details .delete-btn-account {
    font-size: 15px;
  }
}
/*# sourceMappingURL=account.css.map */