* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 2vh 1vw;
}

body main .holder {
  border: 2px solid gray;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .fourbox {
  background: tomato;
  padding: 10px;
}

body main .holder .fourbox .grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: -10px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 5px;
  background-color: white;
  color: black;
  padding: 10px;
}

body main .holder .fourbox .grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border: 2px solid gray;
  height: 18vh;
  width: 10vw;
}

body main .holder .fourbox .grid-container .green-box {
  background: green;
  color: white;
}

body main .holder .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: green;
  padding: 30px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .main-content .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 10px;
}

body main .holder .main-content .profile .profile-info {
  font-size: 2.5vh;
  text-transform: capitalize;
  color: black;
}

body main .holder .main-content .profile .profile-info .admin {
  height: 150px;
  width: 150px;
}

body main .holder .main-content .details {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  min-height: 700px;
  background: white;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .holder .main-content .details .sec-title {
  font-size: 40px;
}

body main .holder .main-content .details .form-row {
  height: 200px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .details .form-row > * {
  width: 30%;
}

body main .holder .main-content .details .form-row .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .holder .main-content .details .form-row .col1 label {
  font-size: 30px;
}

body main .holder .main-content .details .form-row .col1 input {
  font-size: 20px;
  padding: 20px;
  outline: none;
  border: none;
  background: lightgreen;
}

body main .holder .main-content .details .form-row .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .holder .main-content .details .form-row .col3 button {
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
}

body main .holder .main-content .details .other {
  padding: 10px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .holder .main-content .details .other .grn-btn {
  background: green;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  color: white;
  border: none;
}

body main .holder .main-content .details .other .btn-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background: white;
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .main-content .details .other .btn-group .h-text {
  color: white;
}

body main .holder .main-content .details .other .btn-group div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  font-size: 30px;
  margin-left: 0px;
}

body main .holder .main-content .details .other .btn-group div:nth-child(1) {
  background: white;
}

body main .holder .main-content .details .other .btn-group button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body main .holder .main-content .details .switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

body main .holder .main-content .details .switch-container p {
  margin-left: 10px;
  font-size: 20px;
}

body main .holder .main-content .section-title {
  margin-left: 8px;
  margin-top: 1vh;
  font-size: 25px;
}

body main .holder .main-content .contact-group {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-left: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .contact-group .general-card {
  background: #ededed;
  height: 100px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .holder .main-content .contact-group .general-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .holder .main-content .contact-group .general-card .delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .holder .main-content .contact-group button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .holder .main-content .contact-group-2 {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-left: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .contact-group-2 .general-card {
  background: #ededed;
  height: 130px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .holder .main-content .contact-group-2 .general-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .holder .main-content .contact-group-2 .general-card .delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .holder .main-content .contact-group-2 button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .holder .main-content .image-group {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .holder .main-content .image-group .image-card {
  background: #ededed;
  height: 160px;
  width: 32%;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

body main .holder .main-content .image-group .image-card img {
  height: 40px;
  width: 100px;
}

body main .holder .main-content .image-group .image-card .edit {
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 50px;
  background: green;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
}

body main .holder .main-content .image-group .image-card .delete {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  border-radius: 50px;
  background: red;
  color: white;
  border: none;
}

body main .holder .main-content .image-group button {
  width: 32%;
  color: green;
  font-size: 20px;
  background: white;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
  border-radius: 5px;
}

body main .holder .main-content .details .delete-btn-account {
  height: 5vh;
  width: 20%;
  background: gray;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}
/*# sourceMappingURL=account2.css.map */