* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 11.48vh minmax(auto) 59.54vh;
  grid-template-areas:
    "h h h h h h h h"
    "m m m m m m m m"
    "f f f f f f f f";

  

  // New Styles

  // End
  main {
    grid-area: m;
    padding: 3vh 1.51vw;

    .holder {
      border: 2px solid gray;
      height: 100vh;
      width: 100%;
      margin-top: 100px;
      padding: 5px;
      display: flex;

      .fourbox {
        flex: 1;
        background: white;
        padding: 10px;

        .grid-container {
          display: grid;
          margin-top: 0px;
          grid-template-columns: auto;
          grid-gap: 5px;
          background-color: white;
          color: black;
          padding: 0px;
        }

        .grid-container > div {
          background-color: white;
          text-align: center;
          padding: 10px 0;
          font-size: 30px;
          border: 2px solid gray;
          height: 18vh;
          width: 10vw;
        }
        .grid-container .green-box {
          background: #00b00d;
          color: white;
        }
      }
      .my-order {
        border: none;
        flex: 2.5;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        justify-content: space-around;
        overflow: auto;

        .my-card {
          flex: 1;
          background: #ededed;
          height: 30%;
          width: 90%;
          position: relative;
          padding: 10px 20px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px;

          .card-text {
            display: flex;
            width: 100%;
            justify-content: space-around;

            h2 {
              flex: 2;
            }
          }

          .para {
            top: 8px;
            width: 50%;

            height: 35px;
            right: 20px;
            font-size: 20px;
            position: absolute;
            border: 1px solid gray;
            border-radius: 5px;
            background: #d0cbc1;
            border: none;
            padding: 2px;

            align-items: center;
            text-align: center;
          }

          .ex {
            top: 8px;
            width: 50%;

            height: 35px;
            right: 20px;
            font-size: 20px;
            position: absolute;
            border: 1px solid gray;
            border-radius: 5px;
            background: #d0cbc1;
            border: none;
            padding: 2px;

            align-items: center;
            text-align: center;
          }
          // .edit {
          //     transform: translate(240px, -90px);
          // }

          // .edit {
          //     position: absolute;
          //     top: 5px;
          //     right: 40px;
          //     display: none;
          // }
          // .delete {
          //     position: absolute;
          //     top: 5px;
          //     right: 10px;
          //     display: none;
          // }
        }
      }
      .order-detail {
        background: white;
        flex: 5;
        padding: 10px;

        .order {
          margin-left: 18px;
          margin-top: 10px;
        }

        .solid {
          height: 2px;
          background: black;
          color: black;
          width: 700px;
          margin-left: 220px;
          transform: translateY(-17px);
          position: absolute;
          border: none;
        }
        .step-parent {
          height: 160px;
          width: 890px;
          border: none;
          position: relative;

          .step-text {
            display: flex;
            flex-direction: row;
            width: 100%;
            .pend {
              margin-left: 50px;
            }

            p1 {
              flex: 1;
              padding: 50px;
              margin-left: 70 !important;
              position: relative;
              transform: translateX(50px);
              transform: translateY(-80px);
              font-size: 24px;
            }
          }

          .line {
            height: 5px;
            width: 190px;
            position: absolute;

            &:nth-child(1) {
              transform: translate(100%, 1500%);
            }
            &:nth-child(2) {
              transform: translate(200%, 1500%);
            }
            &:nth-child(3) {
              transform: translate(300%, 1500%);
            }
          }
          .done-line {
            background: green;
          }
          .not-done-line {
            background: lightgray;
          }

          .step-holder {
            height: 150px;
            width: 900px;
            border: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;

            .done,
            .not-done {
              height: 70px;
              width: 70px;
              border-radius: 50%;
              margin: auto 0;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .done {
              background: green;
              color: #fff;
            }
            .not-done {
              border: 2px dotted green;
              color: green;
              background: white;
            }
          }
        }
        .container-last {
          height: 280px;
          flex: 1;
          overflow: auto;
          position: relative;
          .row-item {
            display: flex;
            flex-direction: row;
            padding: 10px;
            font-size: 25px;
            margin-left: 25px;
            border: 1px solid gray;
            background: lightgray;
            border-radius: 10px;
            border: none;

            img {
              height: 80px;
              width: 80px;
            }
            .item {
              flex: 5;
              display: flex;
              padding: 10px;
              padding: 0px;
            }
            .item2 {
              flex: 3;
            }
            .item3 {
              flex: 2.7;
            }
          }
          .row-item2 {
            display: flex;
            flex-direction: row;
            padding: 0px;
            font-size: 25px;
            margin-left: 25px;
            border: 1px solid gray;
            background: white;
            margin-top: 2px;
            border: none;

            img {
              height: 80px;
              width: 80px;
            }
            .item {
              flex: 6;
              display: flex;
              padding: 10px;
              padding: 0px;
            }
            .item2 {
              flex: 3;
            }
          }
        }

        
      }

      .title {
        font-size: 25px;
        padding: 10px;
      }

      // .general-card {
      //   display: flex;
      .card {
        display: flex;
        justify-content: space-around;
        .general-card1 {
          background: #ededed;
          margin-top: 20px;
          padding: 20px;
          height: 200px;
          width: 450px;
          position: relative;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 25px;

          .a {
            display: flex;
            h4 {
              flex: 3;
              margin-top: 10px;
            }
            p {
              flex: 1;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1201px) and (max-width: 1366px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11.48vh auto 59.54vh;
    grid-template-areas:
      "h h h h h h h h"
      "m m m m m m m m"
      "f f f f f f f f";

   
    // New Styles

    // End
    main {
      grid-area: m;
      padding: 3vh 1.51vw;

      .holder {
        border: 2px solid gray;
        height: 120vh;
        width: 100%;
        margin-top: 0px;
        padding: 5px;
        display: flex;

        .fourbox {
          flex: 1;
          background: white;
          padding: 10px;

          .grid-container {
            display: grid;
            margin-top: 0px;
            grid-template-columns: auto;
            grid-gap: 5px;
            background-color: white;
            color: black;
            padding: 0px;
          }

          .grid-container > div {
            background-color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 15px;
            border: 2px solid gray;
            height: 15vh;
            width: 10vw;
          }
          .grid-container .green-box {
            background: green;
            color: white;
          }
        }
        .my-order {
          border: none;
          flex: 2.5;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          //justify-content: center;
          justify-content: space-around;
          overflow: auto;

          .my-card {
            flex: 4;
            background: #ededed;
            height: 85%;
            width: 100%;
            position: relative;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 8px;

            .card-text {
              display: flex;
              width: 100%;
              justify-content: space-around;

              h2 {
                flex: 2;
              }
            }

            .para {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }

            .ex {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }
        
          }
        }
        .order-detail {
          //border: 1px solid red;
          background: white;
          flex: 6;
          padding: 10px;
          

          .order {
            margin-left: 18px;
            margin-top: 10px;
          }

          .solid {
            height: 2px;
            background: black;
            color: black;
            width: 40%;
            margin-left: 220px;
            transform: translateY(-15px);
            position: absolute;
            border: none;
          }
          .step-parent {
            height: 130px;
            width: 690px;
            border: none;
            position: relative;

            .step-text {
               display: flex;
              // flex-direction: row;
              width: 112%;
              .pend {
                margin-left: 120px;
              }
              //justify-content: space-around;

              p1 {
                flex: 1;
                padding: 10px;
                //margin-left: 110px !important;
                
                transform: translateX(1190px);
                transform: translateY(-15px);
                font-size: 14px;
              }
            }

            .line {
              height: 5px;
              width: 160px;
              position: absolute;

              &:nth-child(1) {
                transform: translate(100%, 600%);
              }
              &:nth-child(2) {
                transform: translate(200%, 600%);
              }
              &:nth-child(3) {
                transform: translate(300%, 600%);
              }
            }
            .done-line {
              background: green;
            }
            .not-done-line {
              background: lightgray;
            }

            .step-holder {
             // background: red;
              border: 1px solid blue;
              height: 60px;
              width: 800px;
              border: none;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              position: relative;
              margin-top: 0;

              .done,
              .not-done {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin: auto 0;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .done {
                background: green;
                color: #fff;
              }
              .not-done {
                border: 2px dotted green;
                color: green;
                background: white;
              }
            }
          }
          .container-last {
            height: 275px;
            flex: 1;
            overflow: auto;
            position: relative;
            .row-item {
              display: flex;
              flex-direction: row;
              padding: 10px;
              font-size: 15px;
              margin-left: 5px;
              border: 1px solid gray;
              background: lightgray;
              border-radius: 5px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 6;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 3;
              }
              .item3 {
                flex: 2.7;
              }
            }
            .row-item2 {
              display: flex;
              flex-direction: row;
              padding: 0px;
              font-size: 18px;
              margin-left: 25px;
              border: 1px solid gray;
              background: white;
              margin-top: 2px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 5;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 2;
              }
            }
          }

          
        }

        .title {
          font-size: 15px;
          padding: 10px;
        }

        // .general-card {
        //   display: flex;
        .card {
          display: flex;
          justify-content: center;
          .general-card1 {
            flex: 6;
            background: #ededed;
            margin-top: 0px;
            padding: 10px;
            height: 150px;
            width: 100px;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 15px;

            .a {
              display: flex;
              h4 {
                flex: 1;
                margin-top: 10px;
              }
              p {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
 
}

//   // iPad Pro screen size width: 992px-->
@media (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11.48vh auto 59.54vh;
    grid-template-areas:
      "h h h h h h h h"
      "m m m m m m m m"
      "f f f f f f f f";

    

    // New Styles

    // End
    main {
      grid-area: m;
      padding: 3vh 1.51vw;

      .holder {
        border: 2px solid gray;
        height: 55vh;
        width: 100%;
        margin-top: 0px;
        padding: 5px;
        display: flex;

        .fourbox {
          flex: 1;
          background: white;
          padding: 10px;

          .grid-container {
            display: grid;
            margin-top: 0px;
            grid-template-columns: auto;
            grid-gap: 5px;
            background-color: white;
            color: black;
            padding: 0px;
          }

          .grid-container > div {
            background-color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 15px;
            border: 2px solid gray;
            height: 8vh;
            width: 10vw;
          }
          .grid-container .green-box {
            background: green;
            color: white;
          }
        }
        .my-order {
          height: 50vh;
          width: 70vh;
          border: none;
          flex: 3;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          //justify-content: center;
          justify-content: space-around;
          overflow: auto;
         

          .my-card {
            flex: 9;
            background: #ededed;
            height: 15%;
            width: 120%;
            position: relative;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;

            .card-text {
              display: flex;
              width: 100%;
              justify-content: space-around;

              h2 {
                flex: 2;
              }
            }

            .para {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }

            .ex {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }
           
          }
        }
        .order-detail {
         // border: 1px solid red;
          width: 45vh;
          height: 50vh;
         // border: 1px solid red;
          background: white;
          flex: 0;
          padding: 10px;
          margin-top: 0px;
          

          .order {
            margin-left: 18px;
            margin-top: 10px;
          }

          .solid {
            height: 2px;
            background: black;
            color: black;
            width: 25%;
            margin-left: 220px;
            transform: translateY(-15px);
            position: absolute;
            border: none;
          }
          .step-parent {
            height: 130px;
            width: 690px;
            border: none;
            position: relative;

            .step-text {
               display: flex;
              // flex-direction: row;
              width: 75%;
              .pend {
                margin-left: 55px;
              }
              //justify-content: space-around;

              p1 {
                flex: 1;
                padding: 20px;
                //margin-left: 110px !important;
                
                transform: translateX(1190px);
                transform: translateY(-15px);
                font-size: 15px;
              }
            }

            .line {
              height: 5px;
              width: 110px;
              position: absolute;

              &:nth-child(1) {
                transform: translate(100%, 600%);
              }
              &:nth-child(2) {
                transform: translate(200%, 600%);
              }
              &:nth-child(3) {
                transform: translate(300%, 600%);
              }
            }
            .done-line {
              background: green;
            }
            .not-done-line {
              background: lightgray;
            }

            .step-holder {
             // background: red;
              border: 1px solid blue;
              height: 60px;
              width: 550px;
              border: none;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              position: relative;
              margin-top: 0;

              .done,
              .not-done {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin: auto 0;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .done {
                background: green;
                color: #fff;
              }
              .not-done {
                border: 2px dotted green;
                color: green;
                background: white;
              }
            }
          }
          .container-last {
            height: 200px;
            flex: 1;
            overflow: auto;
            position: relative;
            .row-item {
              display: flex;
              flex-direction: row;
              padding: 10px;
              font-size: 15px;
              margin-left: 5px;
              border: 1px solid gray;
              background: lightgray;
              border-radius: 5px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 6;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 3;
              }
              .item3 {
                flex: 2.7;
              }
            }
            .row-item2 {
              display: flex;
              flex-direction: row;
              padding: 0px;
              font-size: 18px;
              margin-left: 25px;
              border: 1px solid gray;
              background: white;
              margin-top: 2px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 5;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 2;
              }
            }
          }

          
        }

        .title {
          font-size: 15px;
         // padding: 10px;
        }

        // .general-card {
        //   display: flex;
        .card {
          display: flex;
          justify-content: center;
          .general-card1 {
            flex: 6;
            background: #ededed;
            margin-top: 0px;
            padding: 10px;
            height: 150px;
            width: 100px;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 15px;

            .a {
              display: flex;
              h4 {
                flex: 1;
                margin-top: 10px;
              }
              p {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
 
}


//   // iPad Pro screen size width: 992px-->
@media (min-width: 815px) and (max-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11.48vh auto 59.54vh;
    grid-template-areas:
      "h h h h h h h h"
      "m m m m m m m m"
      "f f f f f f f f";

   

    // New Styles

    // End
    main {
      grid-area: m;
      padding: 3vh 1.51vw;

      .holder {
        border: 2px solid gray;
        height: 120vh;
        width: 100%;
        margin-top: 0px;
        padding: 5px;
        display: flex;

        .fourbox {
          flex: 1;
          background: white;
          padding: 10px;

          .grid-container {
            display: grid;
            margin-top: 0px;
            grid-template-columns: auto;
            grid-gap: 5px;
            background-color: white;
            color: black;
            padding: 0px;
          }

          .grid-container > div {
            background-color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 15px;
            border: 2px solid gray;
            height: 15vh;
            width: 10vw;
          }
          .grid-container .green-box {
            background: green;
            color: white;
          }
        }
        .my-order {
          width: 20vh;
          border: none;
          flex: 3;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          //justify-content: center;
          justify-content: space-around;
          overflow: auto;
         

          .my-card {
            flex: 9;
            background: #ededed;
            height: 85%;
            width: 100%;
            position: relative;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;

            .card-text {
              display: flex;
              width: 100%;
              justify-content: space-around;

              h2 {
                flex: 2;
              }
            }

            .para {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }

            .ex {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }
           
          }
        }
        .order-detail {
          width: 90vh;
         // border: 1px solid red;
          background: white;
          flex: 0;
          padding: 10px;
          

          .order {
            margin-left: 18px;
            margin-top: 10px;
          }

          .solid {
            height: 2px;
            background: black;
            color: black;
            width: 25%;
            margin-left: 220px;
            transform: translateY(-15px);
            position: absolute;
            border: none;
          }
          .step-parent {
            height: 130px;
            width: 690px;
            border: none;
            position: relative;

            .step-text {
               display: flex;
              // flex-direction: row;
              width: 75%;
              .pend {
                margin-left: 55px;
              }
              //justify-content: space-around;

              p1 {
                flex: 1;
                padding: 20px;
                //margin-left: 110px !important;
                
                transform: translateX(1190px);
                transform: translateY(-15px);
                font-size: 15px;
              }
            }

            .line {
              height: 5px;
              width: 110px;
              position: absolute;

              &:nth-child(1) {
                transform: translate(100%, 600%);
              }
              &:nth-child(2) {
                transform: translate(200%, 600%);
              }
              &:nth-child(3) {
                transform: translate(300%, 600%);
              }
            }
            .done-line {
              background: green;
            }
            .not-done-line {
              background: lightgray;
            }

            .step-holder {
             // background: red;
              border: 1px solid blue;
              height: 60px;
              width: 550px;
              border: none;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              position: relative;
              margin-top: 0;

              .done,
              .not-done {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin: auto 0;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .done {
                background: green;
                color: #fff;
              }
              .not-done {
                border: 2px dotted green;
                color: green;
                background: white;
              }
            }
          }
          .container-last {
            height: 200px;
            flex: 1;
            overflow: auto;
            position: relative;
            .row-item {
              display: flex;
              flex-direction: row;
              padding: 10px;
              font-size: 15px;
              margin-left: 5px;
              border: 1px solid gray;
              background: lightgray;
              border-radius: 5px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 6;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 3;
              }
              .item3 {
                flex: 2.7;
              }
            }
            .row-item2 {
              display: flex;
              flex-direction: row;
              padding: 0px;
              font-size: 18px;
              margin-left: 25px;
              border: 1px solid gray;
              background: white;
              margin-top: 2px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 5;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 2;
              }
            }
          }

          
        }

        .title {
          font-size: 15px;
          padding: 10px;
        }

        // .general-card {
        //   display: flex;
        .card {
          display: flex;
          justify-content: center;
          .general-card1 {
            flex: 6;
            background: #ededed;
            margin-top: 0px;
            padding: 10px;
            height: 150px;
            width: 100px;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 15px;

            .a {
              display: flex;
              h4 {
                flex: 1;
                margin-top: 10px;
              }
              p {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
 
}

// mobile screen size width: 414px-->
@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 11.48vh auto 59.54vh;
    grid-template-areas:
      "h h h h h h h h"
      "m m m m m m m m"
      "f f f f f f f f";

     

    // New Styles

    // End
    main {
      grid-area: m;
      padding: 3vh 1.51vw;

      .holder {
        border: 2px solid gray;
        min-height: 200vh;
        width: 100%;
        margin-top: 0px;
        padding: 5px;
        display: flex;
        flex-direction: column;

        .fourbox {
          //flex: 1;
          width: 100%;
          background: white;
          padding: 10px;

          .grid-container {
            display: flex;
            //flex-direction: column;
            margin-top: 0px;
            grid-template-columns: auto;
            grid-gap: 5px;
            background-color: white;
            color: black;
            padding: 0px;
          }

          .grid-container > div {
            flex: 1;
            background-color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 15px;
            border: 2px solid gray;
            height: 15vh;
            width: 25%;
          }
          .grid-container .green-box {
            background: green;
            color: white;
          }
        }
        .my-order {
         
          min-height: 80vh;
          width: 100%;
          border: none;
          //flex: 3;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          //justify-content: center;
          justify-content: space-around;
          overflow: auto;
         

          .my-card {
            flex: 9;
            background: #ededed;
            height: 85%;
            width: 100%;
            position: relative;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;

            .card-text {
              display: flex;
              width: 100%;
              justify-content: space-around;

              h2 {
                flex: 2;
              }
            }

            .para {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }

            .ex {
              top: 8px;
              width: 50%;

              height: 25px;
              right: 20px;
              font-size: 12px;
              position: absolute;
              border: 1px solid gray;
              border-radius: 5px;
              background: #d0cbc1;
              border: none;
              padding: 2px;

              align-items: center;
              text-align: center;
            }
            // .edit {
            //     transform: translate(240px, -90px);
            // }

            // .edit {
            //     position: absolute;
            //     top: 5px;
            //     right: 40px;
            //     display: none;
            // }
            // .delete {
            //     position: absolute;
            //     top: 5px;
            //     right: 10px;
            //     display: none;
            // }
          }
        }
        .order-detail {
          width: 100%;
         // border: 1px solid red;
          //background: blue;
          min-height: 80vh;
          //flex: 0;
          padding: 10px;
          display: flex;
          flex-direction: column;

         

          .solid {
            height: 2px;
            background: black;
            color: black;
            width: 25%;
            margin-left: 220px;
            transform: translateY(-100%) !important;
            position: absolute;
            border: none;
            display: none;
          }
          .step-parent {
                        height: 130px;
                        width: 100%;
                        border: none;
                        position: relative;
                       
            
                        .step-text {
                           display: flex;
                          // flex-direction: row;
                          width: 10%;
                          
                          p1 {
                            flex: 1;
                            padding: 10px;
                            //margin-left: 110px !important;
                            
                            transform: translateX(1190px);
                            transform: translateY(-15px);
                            font-size: 16px;
                          }
                        }
            
                        .line {
                          height: 5px;
                          width: 80px;
                          position: absolute;
            
                          &:nth-child(1) {
                            transform: translate(100%, 600%);
                          }
                          &:nth-child(2) {
                            transform: translate(200%, 600%);
                          }
                          &:nth-child(3) {
                            transform: translate(300%, 600%);
                          }
                        }
                        .done-line {
                          background: green;
                        }
                        .not-done-line {
                          background: lightgray;
                        }
            
                        .step-holder {
                         // background: green;
                          //border: 1px solid blue;
                          height: 60px;
                          width: 100%;
                          border: none;
                          display: flex;
                          justify-content: space-evenly;
                          align-items: center;
                          position: relative;
                          margin-top: 0;
            
                          .done,
                          .not-done {
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                            margin: auto 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          }
            
                          .done {
                            background: green;
                            color: #fff;
                          }
                          .not-done {
                            border: 2px dotted green;
                            color: green;
                            background: white;
                          }
                        }
                      }
          .container-last {
            height: 200px;
            flex: 1;
            overflow: auto;
            position: relative;
            .row-item {
              display: flex;
              flex-direction: row;
              padding: 10px;
              font-size: 15px;
              margin-left: 5px;
              border: 1px solid gray;
              background: lightgray;
              border-radius: 5px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 6;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 3;
              }
              .item3 {
                flex: 2.7;
              }
            }
            .row-item2 {
              display: flex;
              flex-direction: row;
              padding: 0px;
              font-size: 13px;
              margin-left: 25px;
              border: 1px solid gray;
              background: white;
              margin-top: 2px;
              border: none;

              img {
                height: 80px;
                width: 80px;
              }
              .item {
                flex: 5;
                display: flex;
                padding: 10px;
                padding: 0px;
              }
              .item2 {
                flex: 2;
              }
            }
          }

       
        }

        .title {
          font-size: 15px;
          padding: 10px;
        }

        // .general-card {
        //   display: flex;
        .card {
          display: flex;
          flex-direction: column;
          //justify-content: center;
          .general-card1 {
            //flex: 6;
            background: #ededed;
            margin: 10px 0;
            padding: 10px;
            height: 150px;
            width: 100%;
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 15px;

            .a {
              display: flex;
              h4 {
                flex: 1;
                //margin-top: 10px;
              }
              p {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
 
}