* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 3vh 1.51vw;
}

body main .holder {
  border: 2px solid gray;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .fourbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 10px;
}

body main .holder .fourbox .grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 5px;
  background-color: white;
  color: black;
  padding: 0px;
}

body main .holder .fourbox .grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border: 2px solid gray;
  height: 18vh;
  width: 10vw;
}

body main .holder .fourbox .grid-container .green-box {
  background: #00b00d;
  color: white;
}

body main .holder .my-order {
  border: none;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: auto;
}

body main .holder .my-order .my-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ededed;
  height: 30%;
  width: 90%;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body main .holder .my-order .my-card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .holder .my-order .my-card .card-text h2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

body main .holder .my-order .my-card .para {
  top: 8px;
  width: 50%;
  height: 35px;
  right: 20px;
  font-size: 20px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  background: #d0cbc1;
  border: none;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body main .holder .my-order .my-card .ex {
  top: 8px;
  width: 50%;
  height: 35px;
  right: 20px;
  font-size: 20px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  background: #d0cbc1;
  border: none;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body main .holder .order-detail {
  background: white;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 10px;
}

body main .holder .order-detail .order {
  margin-left: 18px;
  margin-top: 10px;
}

body main .holder .order-detail .solid {
  height: 2px;
  background: black;
  color: black;
  width: 700px;
  margin-left: 220px;
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
  position: absolute;
  border: none;
}

body main .holder .order-detail .step-parent {
  height: 160px;
  width: 890px;
  border: none;
  position: relative;
}

body main .holder .order-detail .step-parent .step-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body main .holder .order-detail .step-parent .step-text .pend {
  margin-left: 50px;
}

body main .holder .order-detail .step-parent .step-text p1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  margin-left: 70 !important;
  position: relative;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  font-size: 24px;
}

body main .holder .order-detail .step-parent .line {
  height: 5px;
  width: 190px;
  position: absolute;
}

body main .holder .order-detail .step-parent .line:nth-child(1) {
  -webkit-transform: translate(100%, 1500%);
          transform: translate(100%, 1500%);
}

body main .holder .order-detail .step-parent .line:nth-child(2) {
  -webkit-transform: translate(200%, 1500%);
          transform: translate(200%, 1500%);
}

body main .holder .order-detail .step-parent .line:nth-child(3) {
  -webkit-transform: translate(300%, 1500%);
          transform: translate(300%, 1500%);
}

body main .holder .order-detail .step-parent .done-line {
  background: green;
}

body main .holder .order-detail .step-parent .not-done-line {
  background: lightgray;
}

body main .holder .order-detail .step-parent .step-holder {
  height: 150px;
  width: 900px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body main .holder .order-detail .step-parent .step-holder .done,
body main .holder .order-detail .step-parent .step-holder .not-done {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .holder .order-detail .step-parent .step-holder .done {
  background: green;
  color: #fff;
}

body main .holder .order-detail .step-parent .step-holder .not-done {
  border: 2px dotted green;
  color: green;
  background: white;
}

body main .holder .order-detail .container-last {
  height: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  position: relative;
}

body main .holder .order-detail .container-last .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  font-size: 25px;
  margin-left: 25px;
  border: 1px solid gray;
  background: lightgray;
  border-radius: 10px;
  border: none;
}

body main .holder .order-detail .container-last .row-item img {
  height: 80px;
  width: 80px;
}

body main .holder .order-detail .container-last .row-item .item {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  padding: 0px;
}

body main .holder .order-detail .container-last .row-item .item2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body main .holder .order-detail .container-last .row-item .item3 {
  -webkit-box-flex: 2.7;
      -ms-flex: 2.7;
          flex: 2.7;
}

body main .holder .order-detail .container-last .row-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
  font-size: 25px;
  margin-left: 25px;
  border: 1px solid gray;
  background: white;
  margin-top: 2px;
  border: none;
}

body main .holder .order-detail .container-last .row-item2 img {
  height: 80px;
  width: 80px;
}

body main .holder .order-detail .container-last .row-item2 .item {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  padding: 0px;
}

body main .holder .order-detail .container-last .row-item2 .item2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body main .holder .title {
  font-size: 25px;
  padding: 10px;
}

body main .holder .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .holder .card .general-card1 {
  background: #ededed;
  margin-top: 20px;
  padding: 20px;
  height: 200px;
  width: 450px;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 25px;
}

body main .holder .card .general-card1 .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .card .general-card1 .a h4 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 10px;
}

body main .holder .card .general-card1 .a p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1201px) and (max-width: 1366px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh auto 59.54vh;
        grid-template-rows: 11.48vh auto 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  body main .holder {
    border: 2px solid gray;
    height: 120vh;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 0px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 0px;
  }
  body main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    height: 15vh;
    width: 10vw;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .my-order {
    border: none;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  body main .holder .my-order .my-card {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    background: #ededed;
    height: 85%;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 8px;
  }
  body main .holder .my-order .my-card .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .holder .my-order .my-card .card-text h2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .my-order .my-card .para {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail {
    background: white;
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    padding: 10px;
  }
  body main .holder .order-detail .order {
    margin-left: 18px;
    margin-top: 10px;
  }
  body main .holder .order-detail .solid {
    height: 2px;
    background: black;
    color: black;
    width: 40%;
    margin-left: 220px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    position: absolute;
    border: none;
  }
  body main .holder .order-detail .step-parent {
    height: 130px;
    width: 690px;
    border: none;
    position: relative;
  }
  body main .holder .order-detail .step-parent .step-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 112%;
  }
  body main .holder .order-detail .step-parent .step-text .pend {
    margin-left: 120px;
  }
  body main .holder .order-detail .step-parent .step-text p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
    -webkit-transform: translateX(1190px);
            transform: translateX(1190px);
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 14px;
  }
  body main .holder .order-detail .step-parent .line {
    height: 5px;
    width: 160px;
    position: absolute;
  }
  body main .holder .order-detail .step-parent .line:nth-child(1) {
    -webkit-transform: translate(100%, 600%);
            transform: translate(100%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(2) {
    -webkit-transform: translate(200%, 600%);
            transform: translate(200%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(3) {
    -webkit-transform: translate(300%, 600%);
            transform: translate(300%, 600%);
  }
  body main .holder .order-detail .step-parent .done-line {
    background: green;
  }
  body main .holder .order-detail .step-parent .not-done-line {
    background: lightgray;
  }
  body main .holder .order-detail .step-parent .step-holder {
    border: 1px solid blue;
    height: 60px;
    width: 800px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 0;
  }
  body main .holder .order-detail .step-parent .step-holder .done,
  body main .holder .order-detail .step-parent .step-holder .not-done {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .order-detail .step-parent .step-holder .done {
    background: green;
    color: #fff;
  }
  body main .holder .order-detail .step-parent .step-holder .not-done {
    border: 2px dotted green;
    color: green;
    background: white;
  }
  body main .holder .order-detail .container-last {
    height: 275px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    position: relative;
  }
  body main .holder .order-detail .container-last .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    border: 1px solid gray;
    background: lightgray;
    border-radius: 5px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item .item {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item .item2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  body main .holder .order-detail .container-last .row-item .item3 {
    -webkit-box-flex: 2.7;
        -ms-flex: 2.7;
            flex: 2.7;
  }
  body main .holder .order-detail .container-last .row-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    font-size: 18px;
    margin-left: 25px;
    border: 1px solid gray;
    background: white;
    margin-top: 2px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item2 img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item2 .item {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item2 .item2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .title {
    font-size: 15px;
    padding: 10px;
  }
  body main .holder .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .holder .card .general-card1 {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    background: #ededed;
    margin-top: 0px;
    padding: 10px;
    height: 150px;
    width: 100px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  body main .holder .card .general-card1 .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .card .general-card1 .a h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 10px;
  }
  body main .holder .card .general-card1 .a p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh auto 59.54vh;
        grid-template-rows: 11.48vh auto 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  body main .holder {
    border: 2px solid gray;
    height: 55vh;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 0px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 0px;
  }
  body main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    height: 8vh;
    width: 10vw;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .my-order {
    height: 50vh;
    width: 70vh;
    border: none;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  body main .holder .my-order .my-card {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
    background: #ededed;
    height: 15%;
    width: 120%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  body main .holder .my-order .my-card .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .holder .my-order .my-card .card-text h2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .my-order .my-card .para {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail {
    width: 45vh;
    height: 50vh;
    background: white;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 10px;
    margin-top: 0px;
  }
  body main .holder .order-detail .order {
    margin-left: 18px;
    margin-top: 10px;
  }
  body main .holder .order-detail .solid {
    height: 2px;
    background: black;
    color: black;
    width: 25%;
    margin-left: 220px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    position: absolute;
    border: none;
  }
  body main .holder .order-detail .step-parent {
    height: 130px;
    width: 690px;
    border: none;
    position: relative;
  }
  body main .holder .order-detail .step-parent .step-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
  }
  body main .holder .order-detail .step-parent .step-text .pend {
    margin-left: 55px;
  }
  body main .holder .order-detail .step-parent .step-text p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px;
    -webkit-transform: translateX(1190px);
            transform: translateX(1190px);
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 15px;
  }
  body main .holder .order-detail .step-parent .line {
    height: 5px;
    width: 110px;
    position: absolute;
  }
  body main .holder .order-detail .step-parent .line:nth-child(1) {
    -webkit-transform: translate(100%, 600%);
            transform: translate(100%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(2) {
    -webkit-transform: translate(200%, 600%);
            transform: translate(200%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(3) {
    -webkit-transform: translate(300%, 600%);
            transform: translate(300%, 600%);
  }
  body main .holder .order-detail .step-parent .done-line {
    background: green;
  }
  body main .holder .order-detail .step-parent .not-done-line {
    background: lightgray;
  }
  body main .holder .order-detail .step-parent .step-holder {
    border: 1px solid blue;
    height: 60px;
    width: 550px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 0;
  }
  body main .holder .order-detail .step-parent .step-holder .done,
  body main .holder .order-detail .step-parent .step-holder .not-done {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .order-detail .step-parent .step-holder .done {
    background: green;
    color: #fff;
  }
  body main .holder .order-detail .step-parent .step-holder .not-done {
    border: 2px dotted green;
    color: green;
    background: white;
  }
  body main .holder .order-detail .container-last {
    height: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    position: relative;
  }
  body main .holder .order-detail .container-last .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    border: 1px solid gray;
    background: lightgray;
    border-radius: 5px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item .item {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item .item2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  body main .holder .order-detail .container-last .row-item .item3 {
    -webkit-box-flex: 2.7;
        -ms-flex: 2.7;
            flex: 2.7;
  }
  body main .holder .order-detail .container-last .row-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    font-size: 18px;
    margin-left: 25px;
    border: 1px solid gray;
    background: white;
    margin-top: 2px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item2 img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item2 .item {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item2 .item2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .title {
    font-size: 15px;
  }
  body main .holder .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .holder .card .general-card1 {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    background: #ededed;
    margin-top: 0px;
    padding: 10px;
    height: 150px;
    width: 100px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  body main .holder .card .general-card1 .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .card .general-card1 .a h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 10px;
  }
  body main .holder .card .general-card1 .a p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 815px) and (max-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh auto 59.54vh;
        grid-template-rows: 11.48vh auto 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  body main .holder {
    border: 2px solid gray;
    height: 120vh;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: 0px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 0px;
  }
  body main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    height: 15vh;
    width: 10vw;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .my-order {
    width: 20vh;
    border: none;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  body main .holder .my-order .my-card {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
    background: #ededed;
    height: 85%;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  body main .holder .my-order .my-card .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .holder .my-order .my-card .card-text h2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .my-order .my-card .para {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail {
    width: 90vh;
    background: white;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 10px;
  }
  body main .holder .order-detail .order {
    margin-left: 18px;
    margin-top: 10px;
  }
  body main .holder .order-detail .solid {
    height: 2px;
    background: black;
    color: black;
    width: 25%;
    margin-left: 220px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    position: absolute;
    border: none;
  }
  body main .holder .order-detail .step-parent {
    height: 130px;
    width: 690px;
    border: none;
    position: relative;
  }
  body main .holder .order-detail .step-parent .step-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
  }
  body main .holder .order-detail .step-parent .step-text .pend {
    margin-left: 55px;
  }
  body main .holder .order-detail .step-parent .step-text p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px;
    -webkit-transform: translateX(1190px);
            transform: translateX(1190px);
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 15px;
  }
  body main .holder .order-detail .step-parent .line {
    height: 5px;
    width: 110px;
    position: absolute;
  }
  body main .holder .order-detail .step-parent .line:nth-child(1) {
    -webkit-transform: translate(100%, 600%);
            transform: translate(100%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(2) {
    -webkit-transform: translate(200%, 600%);
            transform: translate(200%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(3) {
    -webkit-transform: translate(300%, 600%);
            transform: translate(300%, 600%);
  }
  body main .holder .order-detail .step-parent .done-line {
    background: green;
  }
  body main .holder .order-detail .step-parent .not-done-line {
    background: lightgray;
  }
  body main .holder .order-detail .step-parent .step-holder {
    border: 1px solid blue;
    height: 60px;
    width: 550px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 0;
  }
  body main .holder .order-detail .step-parent .step-holder .done,
  body main .holder .order-detail .step-parent .step-holder .not-done {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .order-detail .step-parent .step-holder .done {
    background: green;
    color: #fff;
  }
  body main .holder .order-detail .step-parent .step-holder .not-done {
    border: 2px dotted green;
    color: green;
    background: white;
  }
  body main .holder .order-detail .container-last {
    height: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    position: relative;
  }
  body main .holder .order-detail .container-last .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    border: 1px solid gray;
    background: lightgray;
    border-radius: 5px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item .item {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item .item2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  body main .holder .order-detail .container-last .row-item .item3 {
    -webkit-box-flex: 2.7;
        -ms-flex: 2.7;
            flex: 2.7;
  }
  body main .holder .order-detail .container-last .row-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    font-size: 18px;
    margin-left: 25px;
    border: 1px solid gray;
    background: white;
    margin-top: 2px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item2 img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item2 .item {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item2 .item2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .title {
    font-size: 15px;
    padding: 10px;
  }
  body main .holder .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .holder .card .general-card1 {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    background: #ededed;
    margin-top: 0px;
    padding: 10px;
    height: 150px;
    width: 100px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  body main .holder .card .general-card1 .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .card .general-card1 .a h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 10px;
  }
  body main .holder .card .general-card1 .a p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh auto 59.54vh;
        grid-template-rows: 11.48vh auto 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  body main .holder {
    border: 2px solid gray;
    min-height: 200vh;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .fourbox {
    width: 100%;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 0px;
  }
  body main .holder .fourbox .grid-container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    height: 15vh;
    width: 25%;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .my-order {
    min-height: 80vh;
    width: 100%;
    border: none;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  body main .holder .my-order .my-card {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
    background: #ededed;
    height: 85%;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  body main .holder .my-order .my-card .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .holder .my-order .my-card .card-text h2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .my-order .my-card .para {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 8px;
    width: 50%;
    height: 25px;
    right: 20px;
    font-size: 12px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: #d0cbc1;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail {
    width: 100%;
    min-height: 80vh;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .order-detail .solid {
    height: 2px;
    background: black;
    color: black;
    width: 25%;
    margin-left: 220px;
    -webkit-transform: translateY(-100%) !important;
            transform: translateY(-100%) !important;
    position: absolute;
    border: none;
    display: none;
  }
  body main .holder .order-detail .step-parent {
    height: 130px;
    width: 100%;
    border: none;
    position: relative;
  }
  body main .holder .order-detail .step-parent .step-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
  }
  body main .holder .order-detail .step-parent .step-text p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
    -webkit-transform: translateX(1190px);
            transform: translateX(1190px);
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 16px;
  }
  body main .holder .order-detail .step-parent .line {
    height: 5px;
    width: 80px;
    position: absolute;
  }
  body main .holder .order-detail .step-parent .line:nth-child(1) {
    -webkit-transform: translate(100%, 600%);
            transform: translate(100%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(2) {
    -webkit-transform: translate(200%, 600%);
            transform: translate(200%, 600%);
  }
  body main .holder .order-detail .step-parent .line:nth-child(3) {
    -webkit-transform: translate(300%, 600%);
            transform: translate(300%, 600%);
  }
  body main .holder .order-detail .step-parent .done-line {
    background: green;
  }
  body main .holder .order-detail .step-parent .not-done-line {
    background: lightgray;
  }
  body main .holder .order-detail .step-parent .step-holder {
    height: 60px;
    width: 100%;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 0;
  }
  body main .holder .order-detail .step-parent .step-holder .done,
  body main .holder .order-detail .step-parent .step-holder .not-done {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .order-detail .step-parent .step-holder .done {
    background: green;
    color: #fff;
  }
  body main .holder .order-detail .step-parent .step-holder .not-done {
    border: 2px dotted green;
    color: green;
    background: white;
  }
  body main .holder .order-detail .container-last {
    height: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    position: relative;
  }
  body main .holder .order-detail .container-last .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    border: 1px solid gray;
    background: lightgray;
    border-radius: 5px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item .item {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item .item2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  body main .holder .order-detail .container-last .row-item .item3 {
    -webkit-box-flex: 2.7;
        -ms-flex: 2.7;
            flex: 2.7;
  }
  body main .holder .order-detail .container-last .row-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
    font-size: 13px;
    margin-left: 25px;
    border: 1px solid gray;
    background: white;
    margin-top: 2px;
    border: none;
  }
  body main .holder .order-detail .container-last .row-item2 img {
    height: 80px;
    width: 80px;
  }
  body main .holder .order-detail .container-last .row-item2 .item {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding: 0px;
  }
  body main .holder .order-detail .container-last .row-item2 .item2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body main .holder .title {
    font-size: 15px;
    padding: 10px;
  }
  body main .holder .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .card .general-card1 {
    background: #ededed;
    margin: 10px 0;
    padding: 10px;
    height: 150px;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
  body main .holder .card .general-card1 .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .card .general-card1 .a h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body main .holder .card .general-card1 .a p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=order.css.map */