* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-rows: 11.48vh minmax(auto) 59.54vh;
      grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 3vh 1.51vw;
}

body main .holder {
  border: 2px solid white;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .fourbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 10px;
}

body main .holder .fourbox .grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: -20px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 5px;
  background-color: white;
  color: black;
  padding: 10px;
}

body main .holder .fourbox .grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border: 2px solid gray;
  height: 18vh;
  width: 10vw;
}

body main .holder .fourbox .grid-container .green-box {
  background: green;
  color: white;
}

body main .holder .my-order {
  border: 1px solid gray;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .holder .my-order .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .holder .my-order .a .pa {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  font-size: 21px;
  padding: 20px;
}

body main .holder .my-order .a .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

body main .holder .my-order .my-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  height: 10% !important;
  width: 60%;
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  -webkit-box-shadow: 0 2px 2px gray;
          box-shadow: 0 2px 2px gray;
}

body main .holder .my-order .my-card img {
  margin-left: 30px;
}

body main .holder .my-order .my-card .para {
  top: 20px;
  width: 50%;
  height: 35px;
  right: 90px;
  font-size: 20px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  border: none;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body main .holder .my-order .my-card .ex {
  top: 70px;
  width: 50%;
  height: 35px;
  right: 20px;
  font-size: 30px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
  border: none;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body main .holder .order-detail {
  background: white;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .holder .order-detail .general-card1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .holder .order-detail .general-card1 .flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150%;
  border: gray;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-content: space-around;
  padding: 10px 10px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px gray;
          box-shadow: 0 1px 2px gray;
}

body main .holder .order-detail .general-card1 .flex1 p3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 10px;
  font-size: 18px;
}

body main .holder .order-detail .general-card1 .flex1 p3 .sticker {
  height: 40px;
  width: 180px;
  margin-top: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 8px;
  background: lightgray;
  border: none;
}

body main .holder .order-detail .general-card1 .flex1 p2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 10px;
  background: white;
  font-size: 22px;
}

body main .holder .order-detail .general-card1 .flex1 p2 img {
  margin-top: 15px;
  height: 50px;
  width: 130px;
}

body main .holder .order-detail .general-card1 .flex1 p25 {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  padding: 10px;
  font-size: 24px;
}

body main .holder .order-detail .general-card1 .flex1 p1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  font-size: 22px;
}

@media (min-width: 1026px) and (max-width: 1366px) {
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  main .holder {
    border: 2px solid white;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: -20px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
  }
  main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border: 2px solid gray;
    height: 20vh !important;
    width: 10vw;
    font-size: 20px !important;
  }
  main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  main .holder .my-order {
    border: 1px solid gray;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .holder .my-order .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .holder .my-order .a .pa {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    font-size: 21px;
    padding: 20px;
  }
  main .holder .my-order .a .img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
  }
  main .holder .my-order .my-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    height: 10% !important;
    width: 60%;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
  }
  main .holder .my-order .my-card img {
    margin-left: 30px;
  }
  main .holder .my-order .my-card .para {
    top: 20px;
    width: 50%;
    height: 35px;
    right: 90px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .holder .my-order .my-card .ex {
    top: 70px;
    width: 50%;
    height: 35px;
    right: 20px;
    font-size: 18px !important;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .holder .order-detail {
    background: white;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .holder .order-detail .general-card1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .holder .order-detail .general-card1 .flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 150%;
    border: gray;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-content: space-around;
    padding: 10px 10px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px gray;
            box-shadow: 0 1px 2px gray;
  }
  main .holder .order-detail .general-card1 .flex1 p3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 10px;
    font-size: 18px;
  }
  main .holder .order-detail .general-card1 .flex1 p3 .sticker {
    height: 40px;
    width: 180px;
    margin-top: 3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    padding: 8px;
    background: lightgray;
    border: none;
  }
  main .holder .order-detail .general-card1 .flex1 p2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 10px;
    background: white;
    font-size: 22px;
  }
  main .holder .order-detail .general-card1 .flex1 p2 img {
    margin-top: 15px;
    height: 50px;
    width: 130px;
  }
  main .holder .order-detail .general-card1 .flex1 p25 {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    font-size: 24px;
  }
  main .holder .order-detail .general-card1 .flex1 p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
    font-size: 22px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  body main .holder {
    border: 2px solid white;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .fourbox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -ms-grid;
    display: grid;
    margin-top: -20px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 2px solid gray;
    height: 10vh;
    width: 15vw;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: red;
    color: white;
  }
  body main .holder .my-order {
    height: 50vh;
    width: 50vw;
    border: 1px solid gray;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .holder .my-order .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .my-order .a .pa {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    font-size: 16px;
    padding: 20px;
  }
  body main .holder .my-order .a .img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
  }
  body main .holder .my-order .my-card {
    height: 10vh;
    width: 20vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    font-size: 15px;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
  }
  body main .holder .my-order .my-card img {
    margin-left: 30px;
  }
  body main .holder .my-order .my-card .para {
    top: 20px;
    width: 50%;
    height: 35px;
    right: 90px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 70px;
    width: 50%;
    height: 35px;
    right: 20px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail {
    margin-top: -20px;
    height: 60vh;
    width: 100%;
    background: white;
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .order-detail .general-card1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .holder .order-detail .general-card1 .flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    border: gray;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-content: space-around;
    padding: 10px 10px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px gray;
            box-shadow: 0 1px 2px gray;
  }
  body main .holder .order-detail .general-card1 .flex1 p3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 10px;
    font-size: 12px;
  }
  body main .holder .order-detail .general-card1 .flex1 p3 .sticker {
    height: 50px;
    width: 90px;
    margin-top: 3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    padding: 8px;
    background: lightgray;
    border: none;
    font-size: 13px;
  }
  body main .holder .order-detail .general-card1 .flex1 p2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 10px;
    background: white;
    font-size: 15px;
    line-height: 20px;
  }
  body main .holder .order-detail .general-card1 .flex1 p2 img {
    height: 50px;
    width: 80px;
  }
  body main .holder .order-detail .general-card1 .flex1 p25 {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
  }
  body main .holder .order-detail .general-card1 .flex1 p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
    font-size: 15px;
    line-height: 28px;
  }
}

@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-rows: 11.48vh minmax(auto) 59.54vh;
        grid-template-areas: "h h h h h h h h" "m m m m m m m m" "f f f f f f f f";
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 3vh 1.51vw;
  }
  body main .holder {
    border: 2px solid gray;
    min-height: 200vh;
    width: 100%;
    margin-top: 70px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .holder .fourbox {
    width: 100%;
    background: white;
    padding: 10px;
  }
  body main .holder .fourbox .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 5px;
    background-color: white;
    color: black;
    padding: 0px;
  }
  body main .holder .fourbox .grid-container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    height: 15vh;
    width: 25%;
  }
  body main .holder .fourbox .grid-container .green-box {
    background: green;
    color: white;
  }
  body main .holder .my-order {
    height: 90vh;
    width: 100vw;
    border: 1px solid gray;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .holder .my-order .a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .holder .my-order .a .pa {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    font-size: 16px;
    padding: 20px;
  }
  body main .holder .my-order .a .img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px;
  }
  body main .holder .my-order .my-card {
    height: 4vh;
    width: 90vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    font-size: 12px;
    position: relative;
    padding: 10px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 2px gray;
            box-shadow: 0 2px 2px gray;
  }
  body main .holder .my-order .my-card img {
    margin-left: 30px;
  }
  body main .holder .my-order .my-card .para {
    top: 20px;
    width: 50%;
    height: 35px;
    right: 90px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .my-order .my-card .ex {
    top: 70px;
    width: 50%;
    height: 35px;
    right: 20px;
    font-size: 20px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main .holder .order-detail {
    margin-top: -20px;
    height: 150vh;
    width: 100%;
    background: white;
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
  }
  body main .holder .order-detail .general-card1 {
    height: 70vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 10px;
  }
  body main .holder .order-detail .general-card1 .flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    border: gray;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-content: space-around;
    padding: 10px 10px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px gray;
            box-shadow: 0 1px 2px gray;
  }
  body main .holder .order-detail .general-card1 .flex1 p3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 5px;
    font-size: 13px;
  }
  body main .holder .order-detail .general-card1 .flex1 p3 .sticker {
    height: 50px;
    width: 80px;
    margin-top: 3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    padding: 8px;
    background: lightgray;
    border: none;
    font-size: 12px;
  }
  body main .holder .order-detail .general-card1 .flex1 p2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 5px;
    background: white;
    font-size: 13px;
    line-height: 20px;
  }
  body main .holder .order-detail .general-card1 .flex1 p2 img {
    height: 50px;
    width: 80px;
  }
  body main .holder .order-detail .general-card1 .flex1 p25 {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 5px;
    font-size: 13px;
    line-height: 20px;
  }
  body main .holder .order-detail .general-card1 .flex1 p1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px;
    font-size: 13px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=payment.css.map */