* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh 81.48vh auto 59.54vh;
      grid-template-rows: 11.48vh 81.48vh auto 59.54vh;
      grid-template-areas: "h h h h h h h h" "i i i i i i i i" "m m m m m m m m" "f f f f f f f f";
}

body header {
  background: deepskyblue;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: h;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 11.48vh;
  width: 100vw;
}

body header .logo a img {
  width: 9.97vw;
  height: 4.86vh;
}

body header .inp-holder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .inp-holder input {
  width: 36.14vw;
  height: 5.46vh;
  border-radius: 8px;
}

body header .inp-holder input::-webkit-input-placeholder {
  text-align: center;
}

body header .inp-holder input:-ms-input-placeholder {
  text-align: center;
}

body header .inp-holder input::-ms-input-placeholder {
  text-align: center;
}

body header .inp-holder input::placeholder {
  text-align: center;
}

body header .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}

body header .btn-container > * {
  margin: 0 5px;
  padding: 5px;
}

body header .btn-container .info-btn {
  height: 5.5vh;
  width: 3vw;
  border-radius: 8px;
  margin: 0 10px;
  border: none;
  position: relative;
}

body header .btn-container .info-btn .notif {
  position: fixed;
  background: green;
  color: #fff;
  padding: 10px;
  border-radius: 70%;
  -webkit-transform: translate(1.8vw, -6vh);
          transform: translate(1.8vw, -6vh);
}

body header .btn-container .usr-img {
  background-image: url("./img/admin.png");
  background-size: cover;
  height: 6.57vh;
  width: 3.69vw;
  border-radius: 65%;
  border: none;
  -webkit-box-shadow: 0 2px 4px grey;
          box-shadow: 0 2px 4px grey;
}

body .hero-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: i;
  background-image: url("./img/hero.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .hero-img .center-container {
  width: 49.27vw;
  height: 15.46vh;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(rgba(255, 255, 255, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

body .hero-img .center-container h1 {
  font-size: 7.4vh;
}

body .hero-img .sticker {
  width: 9.21vw;
  height: 15.92vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
  background: linear-gradient(rgba(0, 128, 0, 0.8));
  border-radius: 30px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hero-img .sticker div {
  color: white;
  font-size: 25px;
}

body .hero-img .sticker button {
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  margin-top: 1vh;
}

body main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 0 6.51vw;
}

body main .box-title {
  font-size: 6vh;
  text-align: center;
  margin-bottom: 5vh;
}

body main .category-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 7.5vh 0;
}

body main .category-container .box {
  width: 21vw;
  height: 22vh;
  padding: 50px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .category-container .box .category {
  font-size: 3.7vh;
}

body main .product-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

body main .product-container .product-card {
  height: 43vh;
  border: 5px solid aqua;
  border-radius: 20px;
  padding: 10px;
}

body main .product-container .product-card img {
  width: 14.42vw;
  height: 21vh;
}

body main .product-container .product-card .sticker {
  background: red;
  color: #fff;
  width: 4.3vw;
  height: 4.4vh;
  text-align: center;
  font-size: 2.5vh;
}

body main .product-container .product-card h4 {
  font-size: 3.7vh;
  font-family: Arial, Helvetica, sans-serif;
}

body main .product-container .product-card .card-bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .product-container .product-card .card-bottom > * {
  padding: 0 5px;
}

body main .product-container .product-card .card-bottom .btn-ctrl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .product-container .product-card .card-bottom .btn-ctrl .product-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

body main .product-container .product-card .card-bottom .btn-ctrl .product-btn:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
}

body main .product-container .product-card .card-bottom .btn-ctrl .product-btn:nth-child(2) {
  background: #fcfcfc;
}

body main .product-container .product-card .card-bottom .btn-ctrl .product-btn:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
}

body main .product-container .product-card .card-bottom a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: green;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  font-size: 2vh;
}

body main .product-container .product-card .card-bottom a img {
  width: 1.28vw;
  height: 2vh;
}

body main .three-steps {
  height: 50vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .three-steps .step {
  height: 50vh;
  width: 28vw;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px grey;
          box-shadow: 0 2px 4px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .three-steps .step > * {
  margin: 0 auto;
}

body main .three-steps .step .step-image {
  width: 10.69vw;
  height: 18.24vh;
}

body main .three-steps .step .step-name {
  font-size: 2.77vh;
  margin: 1vh 0;
  text-align: center;
}

body main .three-steps .step .step-text {
  font-size: 2.31vh;
  margin: 1vh 0;
  text-align: center;
}

body main .why-steps {
  height: 46.48vh;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .why-steps .why-step {
  height: 46vh;
  width: 20.98vw;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px grey;
          box-shadow: 0 2px 4px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .why-steps .why-step > * {
  margin: 0 auto;
}

body main .why-steps .why-step .why-step-image {
  width: 10.69vw;
  height: 18.24vh;
}

body main .why-steps .why-step .why-step-name {
  font-size: 2.77vh;
  margin: 1vh 0;
  text-align: center;
}

body main .why-steps .why-step .why-step-text {
  font-size: 1.94vh;
  margin: 1vh 0;
  text-align: center;
}

body main .feature-steps {
  height: 50vh;
  border: 2px solid grey;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .feature-steps .feature-step {
  height: 50vh;
  width: 28vw;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .feature-steps .feature-step .feature-days {
  font-size: 1.85vh;
  color: white;
  margin-top: auto;
}

body main .feature-steps .feature-step .feature-text {
  font-size: 2.5vh;
  color: white;
}

body main .sale-container {
  height: 36.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2vh;
}

body main .sale-container .sale-card {
  height: 36.2vh;
  width: 42.34vw;
  background-size: cover;
  border-radius: 40px;
}

body footer {
  background: deepskyblue;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: f;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-top {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  background: #f0f0f0;
  padding: 2vh 6.51vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-top .footer-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .footer-top .footer-info .footer-info-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

body footer .footer-top .footer-info .footer-info-small p {
  font-size: 2.96vh;
  margin-left: auto;
}

body footer .footer-top .footer-info .footer-info-big {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

body footer .footer-top .footer-info .footer-info-big p {
  margin-left: 200px;
  font-size: 2.77vh;
}

body footer .footer-top .footer-info .footer-info-big .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .footer-top .footer-info .footer-info-big .icons > * {
  margin: 0 5px;
}

body footer .footer-top .footer-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .footer-top .footer-content .footer-content-big {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 19.67vh;
  margin: 0 10px;
}

body footer .footer-top .footer-content .footer-content-big:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.57vh;
  width: 100%;
}

body footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
  border: none;
  padding: 20px;
}

body footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search button {
  background-size: cover;
  background: #00a50d;
  width: 3.9vw;
  border-radius: 10px;
  border: none;
}

body footer .footer-top .footer-content .footer-content-big:nth-child(2) {
  background-image: url(img/payment-methods.png);
  background-size: cover;
}

body footer .footer-top .footer-content .footer-content-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 19.67vh;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-top .footer-content .footer-content-small h4 {
  padding: 10px;
  font-size: 25px;
}

body footer .footer-top .footer-content .footer-content-small a {
  text-decoration: none;
  color: grey;
  font-size: 22px;
  margin-bottom: 1vh;
}

body footer .footer-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 1vh 3.67vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: grey;
}

body footer .footer-bottom p {
  font-size: 20px;
}

body footer .footer-bottom .copyright {
  margin-top: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .footer-bottom .copyright p {
  width: 26.3vw;
  font-size: 22px;
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  header {
    background: deepskyblue;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: h;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .inp-holder {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .inp-holder input {
    width: 36.14vw;
    height: 5.46vh;
    border-radius: 8px;
  }
  header .inp-holder input::-webkit-input-placeholder {
    text-align: center;
  }
  header .inp-holder input:-ms-input-placeholder {
    text-align: center;
  }
  header .inp-holder input::-ms-input-placeholder {
    text-align: center;
  }
  header .inp-holder input::placeholder {
    text-align: center;
  }
  header .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px;
  }
  header .btn-container > * {
    margin: 0 5px;
    padding: 5px;
  }
  header .btn-container .info-btn {
    height: 5.5vh;
    width: 3vw;
    border-radius: 8px;
    margin: 0 10px;
    border: none;
    position: relative;
  }
  header .btn-container .info-btn .notif {
    background: green;
    color: #fff;
    padding: 10px;
    border-radius: 70%;
    -webkit-transform: translate(2vw, -8vh);
            transform: translate(2vw, -8vh);
  }
  header .btn-container .usr-img {
    background-image: url("./img/demo.png");
    background-size: cover;
    height: 6.57vh;
    width: 3.69vw;
    border-radius: 50%;
  }
}

.card-container {
  width: 100%;
  height: 50vh;
  border: 5px solid brown;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.card-container .card {
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px grey;
          box-shadow: 0 1px 2px grey;
  padding: 10px;
  position: relative;
}

.card-container .card .card-top {
  width: 100%;
  height: 65%;
}

.card-container .card .card-top .sticker {
  width: 3vw;
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 9;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-container .card .card-top img {
  height: 30vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: 15px;
}

.card-container .card .product-name,
.card-container .card .product-price {
  font-family: "Open Sans", sans-serif;
}

.card-container .card .product-name {
  font-size: 2.7vh;
}

.card-container .card .product-price {
  font-size: 2vh;
}

.card-container .card .card-bottom {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  display: flex;
}

.card-container .card .card-bottom .btn-grp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-container .card .card-bottom .btn-grp .button {
  height: 4vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
}

.card-container .card .card-bottom .btn-grp .button:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
}

.card-container .card .card-bottom .btn-grp .button:nth-child(2) {
  background: lightgrey;
}

.card-container .card .card-bottom .btn-grp .button:nth-child(3) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
}

.card-container .card .card-bottom .add {
  padding: 5px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 5px;
  height: 4vh;
  background-color: green;
  color: white;
}
/*# sourceMappingURL=style.css.map */