* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 11.48vh 81.48vh auto 59.54vh;
      grid-template-rows: 11.48vh 81.48vh auto 59.54vh;
      grid-template-areas: "h h h h h h h h" "i i i i i i i i" "m m m m m m m m" "f f f f f f f f";
}

body .hero-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: i;
  background-image: url("./img/hero.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 100%;
}

body .hero-img .center-container {
  width: 49.27vw;
  height: 15.46vh;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(rgba(255, 255, 255, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: absolute;
}

body .hero-img .center-container h1 {
  font-size: 7.4vh;
}

body .hero-img .sticker {
  width: 9.21vw;
  height: 15.92vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
  background: linear-gradient(rgba(0, 128, 0, 0.8));
  border-radius: 30px;
  margin-left: 90.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 0;
  top: 40vh;
}

body .hero-img .sticker div {
  color: white;
  font-size: 25px;
}

body .hero-img .sticker button {
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  margin-top: 1vh;
}

body main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: m;
  padding: 0 6.51vw;
}

body main .box-title {
  font-size: 6vh;
  text-align: center;
  margin-bottom: 5vh;
}

body main .category-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 7.5vh 0;
}

body main .category-container .sticker-2 {
  display: none;
}

body main .category-container .box {
  width: 21vw;
  height: 22vh;
  padding: 50px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .category-container .box .category {
  font-size: 3.7vh;
}

body main .card-container {
  width: 100%;
  height: 50vh;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

body main .card-container .card {
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 2px grey;
          box-shadow: 0 1px 2px grey;
  padding: 10px;
  position: relative;
}

body main .card-container .card .card-top {
  width: 100%;
  height: 65%;
}

body main .card-container .card .card-top .sticker {
  width: 3vw;
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 9;
  position: absolute;
  top: 10px;
  left: 10px;
}

body main .card-container .card .card-top img {
  height: 30vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 15px;
  left: 15px;
}

body main .card-container .card .product-name,
body main .card-container .card .product-price {
  font-family: "Open Sans", sans-serif;
}

body main .card-container .card .product-name {
  font-size: 2.7vh;
}

body main .card-container .card .product-price {
  font-size: 2vh;
}

body main .card-container .card .card-bottom {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  display: flex;
}

body main .card-container .card .card-bottom .btn-grp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .card-container .card .card-bottom .btn-grp .button {
  height: 4vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
}

body main .card-container .card .card-bottom .btn-grp .button:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
}

body main .card-container .card .card-bottom .btn-grp .button:nth-child(2) {
  background: lightgrey;
}

body main .card-container .card .card-bottom .btn-grp .button:nth-child(3) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
}

body main .card-container .card .card-bottom .add {
  padding: 5px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 5px;
  height: 4vh;
  background-color: green;
  color: white;
}

body main .three-steps {
  height: 50vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .three-steps .step {
  height: 50vh;
  width: 28vw;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px grey;
          box-shadow: 0 2px 4px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .three-steps .step > * {
  margin: 0 auto;
}

body main .three-steps .step .step-image {
  width: 10.69vw;
  height: 18.24vh;
}

body main .three-steps .step .step-name {
  font-size: 2.77vh;
  margin: 1vh 0;
  text-align: center;
}

body main .three-steps .step .step-text {
  font-size: 2.31vh;
  margin: 1vh 0;
  text-align: center;
}

body main .why-steps {
  height: 46.48vh;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .why-steps .why-step {
  height: 46vh;
  width: 20.98vw;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px grey;
          box-shadow: 0 2px 4px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .why-steps .why-step > * {
  margin: 0 auto;
}

body main .why-steps .why-step .why-step-image {
  width: 8.69vw;
  height: 12.24vh;
}

body main .why-steps .why-step .why-step-name {
  font-size: 2.77vh;
  margin: 1vh 0;
  text-align: center;
}

body main .why-steps .why-step .why-step-text {
  font-size: 1.94vh;
  margin: 1vh 0;
  text-align: center;
}

body main .feature-steps {
  height: 50vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .feature-steps .feature-step {
  height: 50vh;
  width: 28vw;
  border-radius: 10px;
  padding: 20px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .feature-steps .feature-step .feature-days {
  font-size: 1.85vh;
  color: white;
  margin-top: auto;
}

body main .feature-steps .feature-step .feature-text {
  font-size: 2.5vh;
  color: white;
}

body main .sale-container {
  height: 36.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2vh;
}

body main .sale-container .sale-card {
  height: 36.2vh;
  width: 42.34vw;
  background-size: cover;
  border-radius: 40px;
}

@media (min-width: 1026px) and (max-width: 1366px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 11.48vh 81.48vh auto 59.54vh;
        grid-template-rows: 11.48vh 81.48vh auto 59.54vh;
        grid-template-areas: "h h h h h h h h" "i i i i i i i i" "m m m m m m m m" "f f f f f f f f";
  }
  body .hero-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: i;
    background-image: url("./img/hero.png");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .hero-img .center-container {
    width: 49.27vw;
    height: 15.46vh;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)));
    background: linear-gradient(rgba(255, 255, 255, 0.8));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  body .hero-img .center-container h1 {
    font-size: 7.4vh;
  }
  body .hero-img .sticker {
    width: 9.21vw;
    height: 15.92vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    border-radius: 30px;
    margin-left: 90.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .hero-img .sticker div {
    color: white;
    font-size: 20px;
  }
  body .hero-img .sticker button {
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    margin-top: 1vh;
  }
  body main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 0 6.51vw;
  }
  body main .box-title {
    font-size: 6vh;
    text-align: center;
    margin-bottom: 5vh;
  }
  body main .category-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 7.5vh 0;
  }
  body main .category-container .box {
    width: 21vw;
    height: 22vh;
    padding: 50px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body main .category-container .box .category {
    font-size: 4.7vh;
  }
  body main .card-container {
    width: 100%;
    height: 50vh;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
  body main .card-container .card {
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 2px grey;
            box-shadow: 0 1px 2px grey;
    padding: 10px;
    position: relative;
  }
  body main .card-container .card .card-top {
    width: 100%;
    height: 65%;
  }
  body main .card-container .card .card-top .sticker {
    width: 4vw;
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 9;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  body main .card-container .card .card-top img {
    height: 30vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  body main .card-container .card .product-name,
  body main .card-container .card .product-price {
    font-family: "Open Sans", sans-serif;
  }
  body main .card-container .card .product-name {
    font-size: 2.7vh;
  }
  body main .card-container .card .product-price {
    font-size: 2vh;
  }
  body main .card-container .card .card-bottom {
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    display: flex;
  }
  body main .card-container .card .card-bottom .btn-grp {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 5px;
    height: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .card-container .card .card-bottom .btn-grp .button {
    height: 4vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: none;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: white;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(2) {
    background: lightgrey;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(3) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
  }
  body main .card-container .card .card-bottom .add {
    padding: 5px;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 5px;
    height: 4vh;
    background-color: green;
    color: white;
  }
  body main .three-steps {
    height: 50vh;
    margin-bottom: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .three-steps .step {
    height: 40vh;
    width: 28vw;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 4px grey;
            box-shadow: 0 2px 4px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .three-steps .step > * {
    margin: 0 auto;
  }
  body main .three-steps .step .step-image {
    width: 10.69vw;
    height: 18.24vh;
  }
  body main .three-steps .step .step-name {
    font-size: 2.77vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .three-steps .step .step-text {
    font-size: 2.5vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .why-steps {
    height: 46.48vh;
    margin-bottom: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .why-steps .why-step {
    height: 42vh;
    width: 20.98vw;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 4px grey;
            box-shadow: 0 2px 4px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .why-steps .why-step > * {
    margin: 0 auto;
  }
  body main .why-steps .why-step .why-step-image {
    width: 10.69vw;
    height: 18.24vh;
  }
  body main .why-steps .why-step .why-step-name {
    font-size: 2.77vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .why-steps .why-step .why-step-text {
    font-size: 2.4vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .feature-steps {
    height: 50vh;
    margin-bottom: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .feature-steps .feature-step {
    height: 50vh;
    width: 28vw;
    border-radius: 10px;
    padding: 20px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .feature-steps .feature-step .feature-days {
    font-size: 1.95vh;
    color: white;
    margin-top: auto;
  }
  body main .feature-steps .feature-step .feature-text {
    font-size: 2.7vh;
    color: white;
  }
  body main .sale-container {
    height: 36.2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2vh;
  }
  body main .sale-container .sale-card {
    height: 36.2vh;
    width: 42.34vw;
    background-size: cover;
    border-radius: 40px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 104px 880px auto 800px;
        grid-template-rows: 104px 880px auto 800px;
        grid-template-areas: "h h h h h h h h" "i i i i i i i i" "m m m m m m m m" "f f f f f f f f";
  }
  body .hero-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: i;
    background-image: url("./img/hero.png");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .hero-img .center-container {
    width: 49.27vw;
    height: 15.46vh;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)));
    background: linear-gradient(rgba(255, 255, 255, 0.8));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  body .hero-img .center-container h1 {
    font-size: 3.4vh;
  }
  body .hero-img .sticker {
    width: 9.21vw;
    height: 15.92vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    border-radius: 30px;
    margin-left: 90.5%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .hero-img .sticker div {
    color: white;
    font-size: 15px;
  }
  body .hero-img .sticker button {
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 1vh;
  }
  body main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 0 6.51vw;
  }
  body main .box-title {
    font-size: 3vh;
    text-align: center;
    margin-bottom: 1vh;
  }
  body main .category-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 7.5vh 0;
  }
  body main .category-container .sticker-2 {
    position: fixed;
    top: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    color: white;
    border-radius: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2px;
    z-index: 10;
    font-size: 30px;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  body main .category-container .sticker-2 .btn-2 {
    background: maroon;
    height: 60px;
    width: 120px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
  }
  body main .category-container .box {
    width: 42vw;
    height: 12vh;
    padding: 50px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body main .category-container .box .category {
    font-size: 2.7vh;
  }
  body main .card-container {
    width: 100%;
    height: 50vh;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  body main .card-container .card {
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 2px grey;
            box-shadow: 0 1px 2px grey;
    padding: 10px;
    position: relative;
  }
  body main .card-container .card .card-top {
    width: 100%;
    height: 55%;
  }
  body main .card-container .card .card-top .sticker {
    width: 5vw;
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 9;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  body main .card-container .card .card-top img {
    height: 10vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  body main .card-container .card .product-name,
  body main .card-container .card .product-price {
    font-family: "Open Sans", sans-serif;
  }
  body main .card-container .card .product-name {
    font-size: 1.7vh;
  }
  body main .card-container .card .product-price {
    font-size: 1vh;
  }
  body main .card-container .card .card-bottom {
    height: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
    display: flex;
  }
  body main .card-container .card .card-bottom .btn-grp {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 5px;
    height: 1.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .card-container .card .card-bottom .btn-grp .button {
    height: 1.5vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: none;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: white;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(2) {
    background: lightgrey;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(3) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
  }
  body main .card-container .card .card-bottom .add {
    padding: 5px;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 5px;
    height: 2.5vh;
    background-color: green;
    color: white;
    font-size: 1vh;
  }
  body main .three-steps {
    height: 30vh;
    margin-bottom: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .three-steps .step {
    height: 30vh;
    width: 28vw;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 4px grey;
            box-shadow: 0 2px 4px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .three-steps .step > * {
    margin: 0 auto;
  }
  body main .three-steps .step .step-image {
    width: 5.69vw;
    height: 9.24vh;
  }
  body main .three-steps .step .step-name {
    font-size: 1.77vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .three-steps .step .step-text {
    font-size: 1.5vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .why-steps {
    height: 55.48vh;
    width: 75%;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 25vh 22vh;
        grid-template-rows: 25vh 22vh;
        grid-template-areas: "one two" "three four";
    grid-gap: 20px;
  }
  body main .why-steps .why-step {
    height: 25vh;
    width: 28.98vw;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 4px grey;
            box-shadow: 0 2px 4px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .why-steps .why-step:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
  }
  body main .why-steps .why-step:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: two;
  }
  body main .why-steps .why-step:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: three;
  }
  body main .why-steps .why-step:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: four;
  }
  body main .why-steps .why-step > * {
    margin: 0 auto;
  }
  body main .why-steps .why-step .why-step-image {
    width: 5.69vw;
    height: 9.24vh;
  }
  body main .why-steps .why-step .why-step-name {
    font-size: 1.77vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .why-steps .why-step .why-step-text {
    font-size: 1.4vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .feature-steps {
    height: 60vh;
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .feature-steps .feature-step {
    height: 15vh;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1vh auto;
  }
  body main .feature-steps .feature-step .feature-days {
    font-size: 1.95vh;
    color: white;
    margin-top: auto;
  }
  body main .feature-steps .feature-step .feature-text {
    font-size: 1.7vh;
    color: white;
  }
  body main .sale-container {
    height: 50.2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1vh;
  }
  body main .sale-container .sale-card {
    height: 20.2vh;
    width: 100%;
    background-size: cover;
    border-radius: 40px;
  }
}

@media (max-width: 414px) {
  body {
    min-height: 100vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 104px 880px auto 800px;
        grid-template-rows: 104px 880px auto 800px;
        grid-template-areas: "h h h h h h h h" "i i i i i i i i" "m m m m m m m m" "f f f f f f f f";
    position: relative;
  }
  body .hero-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: i;
    background-image: url("./img/hero.png");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90%;
    width: 100%;
  }
  body .hero-img .center-container {
    width: 70.27vw;
    height: 20.46vh;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)));
    background: linear-gradient(rgba(255, 255, 255, 0.8));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  body .hero-img .center-container h1 {
    font-size: 3.4vh;
  }
  body .hero-img .sticker {
    width: 44.21vw;
    height: 10.92vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    border-radius: 30px;
    margin-left: 90.5%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 60%;
    top: 65vh;
  }
  body .hero-img .sticker div {
    color: white;
    font-size: 15px;
  }
  body .hero-img .sticker button {
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 1vh;
  }
  body main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: m;
    padding: 0 2.51vw;
  }
  body main .box-title {
    font-size: 5vh;
    text-align: center;
    margin-bottom: 5vh;
  }
  body main .category-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 3.5vh 0;
  }
  body main .category-container .sticker-2 {
    position: fixed;
    top: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 95vw;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.8)));
    background: linear-gradient(rgba(0, 128, 0, 0.8));
    color: white;
    border-radius: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2px;
    z-index: 10;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  body main .category-container .sticker-2 .btn-2 {
    background: maroon;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
  }
  body main .category-container .box {
    width: 90vw;
    height: 20vh;
    padding: 50px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body main .category-container .box .category {
    font-size: 3.7vh;
  }
  body main .card-container {
    width: 100%;
    height: 295vh;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }
  body main .card-container .card {
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 2px grey;
            box-shadow: 0 1px 2px grey;
    padding: 10px;
    position: relative;
  }
  body main .card-container .card .card-top {
    width: 100%;
    height: 65%;
  }
  body main .card-container .card .card-top .sticker {
    width: 15vw;
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
  }
  body main .card-container .card .card-top img {
    height: 30vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  body main .card-container .card .product-name,
  body main .card-container .card .product-price {
    font-family: "Open Sans", sans-serif;
  }
  body main .card-container .card .product-name {
    font-size: 2.7vh;
  }
  body main .card-container .card .product-price {
    font-size: 2vh;
  }
  body main .card-container .card .card-bottom {
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
    display: flex;
  }
  body main .card-container .card .card-bottom .btn-grp {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 5px;
    height: 3.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .card-container .card .card-bottom .btn-grp .button {
    height: 3vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: none;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: white;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(2) {
    background: lightgrey;
  }
  body main .card-container .card .card-bottom .btn-grp .button:nth-child(3) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
  }
  body main .card-container .card .card-bottom .add {
    padding: 5px;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 5px;
    height: 5vh;
    background-color: green;
    color: white;
    font-size: 1.5vh;
  }
  body main .three-steps {
    height: 130vh;
    margin-bottom: 3vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .three-steps .step {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 4px grey;
            box-shadow: 0 2px 4px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .three-steps .step > * {
    margin: 0 auto;
  }
  body main .three-steps .step .step-image {
    width: 15.69vw;
    height: 20.24vh;
  }
  body main .three-steps .step .step-name {
    font-size: 1.77vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .three-steps .step .step-text {
    font-size: 1.5vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .why-steps {
    height: 190.48vh;
    width: 100%;
    margin-bottom: 2vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 42vh 42vh 42vh 42vh;
        grid-template-rows: 42vh 42vh 42vh 42vh;
        grid-template-areas: "one one one one" "two two two two" "three three three three" "four four four four";
    grid-gap: 20px;
  }
  body main .why-steps .why-step {
    height: 42vh;
    width: 90.98vw;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 4px grey;
            box-shadow: 0 2px 4px grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .why-steps .why-step:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: one;
  }
  body main .why-steps .why-step:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: two;
  }
  body main .why-steps .why-step:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: three;
  }
  body main .why-steps .why-step:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: four;
  }
  body main .why-steps .why-step > * {
    margin: 0 auto;
  }
  body main .why-steps .why-step .why-step-image {
    width: 15.69vw;
    height: 20.24vh;
  }
  body main .why-steps .why-step .why-step-name {
    font-size: 2.77vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .why-steps .why-step .why-step-text {
    font-size: 2.4vh;
    margin: 1vh 0;
    text-align: center;
  }
  body main .feature-steps {
    height: 150vh;
    margin-bottom: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .feature-steps .feature-step {
    height: 50vh;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2vh auto;
  }
  body main .feature-steps .feature-step .feature-days {
    font-size: 1.95vh;
    color: white;
    margin-top: auto;
  }
  body main .feature-steps .feature-step .feature-text {
    font-size: 2.7vh;
    color: white;
  }
  body main .sale-container {
    height: 100.2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2vh;
  }
  body main .sale-container .sale-card {
    height: 90.2vh;
    width: 100%;
    background-size: cover;
    border-radius: 40px;
  }
}
/*# sourceMappingURL=style.css.map */