footer {
  background: deepskyblue;
  grid-area: f;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  background: #f0f0f0;
  padding: 2vh 6.51vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top .footer-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .footer-info .footer-info-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

footer .footer-top .footer-info .footer-info-small p {
  font-size: 2.96vh;
  margin-left: auto;
}

footer .footer-top .footer-info .footer-info-big {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

footer .footer-top .footer-info .footer-info-big p {
  margin-left: 200px;
  font-size: 2.77vh;
}

footer .footer-top .footer-info .footer-info-big .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .footer-info .footer-info-big .icons > * {
  margin: 0 5px;
}

footer .footer-top .footer-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .footer-content .footer-content-big {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 19.67vh;
  margin: 0 10px;
}

footer .footer-top .footer-content .footer-content-big:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.57vh;
  width: 100%;
}

footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
  border: none;
  padding: 20px;
}

footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search button {
  background-size: cover;
  background: #00a50d;
  width: 3.9vw;
  border-radius: 10px;
  border: none;
}

footer .footer-top .footer-content .footer-content-big:nth-child(2) {
  background-image: url(img/payment-methods.png);
  background-size: cover;
}

footer .footer-top .footer-content .footer-content-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 19.67vh;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top .footer-content .footer-content-small h4 {
  padding: 10px;
  font-size: 25px;
}

footer .footer-top .footer-content .footer-content-small a {
  text-decoration: none;
  color: grey;
  font-size: 22px;
  margin-bottom: 1vh;
}

footer .footer-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 1vh 3.67vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: grey;
}

footer .footer-bottom p {
  font-size: 20px;
}

footer .footer-bottom .copyright {
  margin-top: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom .copyright p {
  width: 26.3vw;
  font-size: 22px;
}

@media (min-width: 1026px) and (max-width: 1366px) {
  footer {
    background: deepskyblue;
    grid-area: f;
    color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    background: #f0f0f0;
    padding: 2vh 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-bottom: 2px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
  }
  footer .footer-top .footer-info .footer-info-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  footer .footer-top .footer-info .footer-info-small p {
    font-size: 2.8vh;
    margin-left: 30px;
  }
  footer .footer-top .footer-info .footer-info-big {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  footer .footer-top .footer-info .footer-info-big p {
    margin-left: 200px;
    font-size: 3vh;
  }
  footer .footer-top .footer-info .footer-info-big .icons {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-top .footer-info .footer-info-big .icons > * {
    margin: 0 5px;
  }
  footer .footer-top .footer-content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-top .footer-content .footer-content-big {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 19.67vh;
    margin: 0 10px;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.57vh;
    width: 100%;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 10px;
    border: none;
    padding: 20px;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search button {
    background-size: cover;
    background: #00a50d;
    width: 3.9vw;
    border-radius: 10px;
    border: none;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(2) {
    background-image: url(img/payment-methods.png);
    background-size: cover;
  }
  footer .footer-top .footer-content .footer-content-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 19.67vh;
    margin: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-content .footer-content-small h4 {
    padding: 3px;
    font-size: 20px;
  }
  footer .footer-top .footer-content .footer-content-small a {
    text-decoration: none;
    color: grey;
    font-size: 17px;
    margin-bottom: 1vh;
  }
  footer .footer-bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 1vh 3.67vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: grey;
  }
  footer .footer-bottom p {
    font-size: 17px;
  }
  footer .footer-bottom .copyright {
    margin-top: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-bottom .copyright p {
    width: 26.3vw;
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  footer {
    background: deepskyblue;
    grid-area: f;
    color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    background: #f0f0f0;
    padding: 2vh 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-bottom: 2px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
  }
  footer .footer-top .footer-info .footer-info-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  footer .footer-top .footer-info .footer-info-small p {
    font-size: 2.8vh;
    margin-left: 10px;
  }
  footer .footer-top .footer-info .footer-info-big {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  footer .footer-top .footer-info .footer-info-big p {
    margin-left: 30px;
    font-size: 3vh;
  }
  footer .footer-top .footer-info .footer-info-big .icons {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-top .footer-info .footer-info-big .icons > * {
    margin: 0 5px;
  }
  footer .footer-top .footer-content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[6];
        grid-template-columns: repeat(6, 2fr);
    -ms-grid-rows: 150px auto;
        grid-template-rows: 150px auto;
        grid-template-areas: "search search search payment payment payment" "c1 c1 c2 c2 c3 c3";
  }
  footer .footer-top .footer-content .footer-content-big {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 25.67vh;
    margin: 0 2px;
    width: 60vh;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: search;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.57vh;
    width: 100%;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 10px;
    border: none;
    padding: 20px;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search button {
    background-size: cover;
    background: #00a50d;
    width: 3.9vw;
    border-radius: 10px;
    border: none;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(2) {
    background-image: url(img/payment-methods.png);
    background-size: cover;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: payment;
  }
  footer .footer-top .footer-content .footer-content-small {
    height: 19.67vh;
    margin: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-content .footer-content-small:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c1;
  }
  footer .footer-top .footer-content .footer-content-small:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: c2;
    margin-left: 1000px;
  }
  footer .footer-top .footer-content .footer-content-small:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: c3;
    margin-right: 100px !important;
  }
  footer .footer-top .footer-content .footer-content-small h4 {
    padding: 3px;
    font-size: 20px;
  }
  footer .footer-top .footer-content .footer-content-small a {
    text-decoration: none;
    color: grey;
    font-size: 17px;
    margin-bottom: 1vh;
  }
  footer .footer-bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 1vh 3.67vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: grey;
  }
  footer .footer-bottom p {
    font-size: 17px;
  }
  footer .footer-bottom .copyright {
    margin-top: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-bottom .copyright p {
    width: 26.3vw;
    font-size: 22px;
  }
}

@media (max-width: 414px) {
  footer {
    background: deepskyblue;
    grid-area: f;
    color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    background: #f0f0f0;
    padding: 2vh 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-bottom: 2px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
  }
  footer .footer-top .footer-info .footer-info-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  footer .footer-top .footer-info .footer-info-small p {
    font-size: 1.8vh;
    margin-left: 10px;
  }
  footer .footer-top .footer-info .footer-info-small img {
    height: 25px;
    width: 25px;
  }
  footer .footer-top .footer-info .footer-info-big {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  footer .footer-top .footer-info .footer-info-big p {
    margin-left: 10px;
    font-size: 2vh;
  }
  footer .footer-top .footer-info .footer-info-big .icons {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-top .footer-info .footer-info-big .icons > * {
    margin: 0 1px;
  }
  footer .footer-top .footer-content {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[6];
        grid-template-columns: repeat(6, 2fr);
    -ms-grid-rows: 150px auto;
        grid-template-rows: 150px auto;
        grid-template-areas: "c1 c1 c2 c2 c3 c3";
  }
  footer .footer-top .footer-content .footer-content-big {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 25.67vh;
    margin: 0 2px;
    width: 60vh;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-area: search;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.57vh;
    width: 100%;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 10px;
    border: none;
    padding: 20px;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(1) .footer-search button {
    background-size: cover;
    background: #00a50d;
    width: 3.9vw;
    border-radius: 10px;
    border: none;
  }
  footer .footer-top .footer-content .footer-content-big:nth-child(2) {
    background-image: url("../img/payment-methods.png");
    background-size: cover;
    grid-area: payment;
    display: none;
  }
  footer .footer-top .footer-content .footer-content-small {
    height: 19.67vh;
    margin: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-top .footer-content .footer-content-small:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c1;
  }
  footer .footer-top .footer-content .footer-content-small:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: c2;
    margin-left: 1000px;
  }
  footer .footer-top .footer-content .footer-content-small:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: c3;
    margin-right: 100px !important;
  }
  footer .footer-top .footer-content .footer-content-small h4 {
    padding: 3px;
    font-size: 20px;
  }
  footer .footer-top .footer-content .footer-content-small a {
    text-decoration: none;
    color: grey;
    font-size: 17px;
    margin-bottom: 1vh;
  }
  footer .footer-bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: white;
    padding: 1vh 3.67vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: grey;
  }
  footer .footer-bottom p {
    font-size: 12px;
  }
  footer .footer-bottom .copyright {
    margin-top: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-bottom .copyright p {
    width: 15.3vw;
    font-size: 12px;
  }
}
/*# sourceMappingURL=footer.css.map */